[2020-07-08 01:02] DavidCDennis opened #3 "Test Issue"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: David Dennis
(Because we don't know you by your github handle)

#### Describe your issue:

This is a test, I am good! :)
#### List any error messages that appear:

No messages appear.
#### What have you googled?

I use Bing.
#### What have you tried?

Nothing, and

[2020-07-08 01:02] michaelpfohl opened #4 "Test Issue - Please Delete me!"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Michael Pfohl

#### Describe your issue: This is a test issue, please delete it.

#### List any error messages that appear: None, this is a test.

#### What have you googled? "How to code like Dr. T."

#### What have you tried? My best

#### Code Snippet (If applic

[2020-07-08 01:03] smudick opened #5 "This is a test issue!"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:Sam

#### Describe your issue:

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable)
N/A

[2020-07-08 01:03] DeannaMix opened #6 "Get help ticket"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Deanna Mix
(Because we don't know you by your github handle)

#### Describe your issue: Making and issue for a ticket

#### List any error messages that appear: None

#### What have you googled?: Nothing yet!

#### What have you tried?: Nothing yet!

#### Code Snip

[2020-07-08 01:04] danapham opened #7 "This is so hard!!"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Dana Pham

#### Describe your issue:
Issue

#### List any error messages that appear:
fjwoifregadf

#### What have you googled?
%%

#### What have you tried?
***

#### Code Snippet (If applicable)
-

[2020-07-08 01:04] brownabs opened #8 "How to be a junior instructor"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Abbey Brown

#### Describe your issue:
I am trying to figure out how to upload proper information to be the best instructor possible

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable

[2020-07-08 01:04] AutumnFoto opened #9 "java script code issue"
#### Name: Autumn Fotopoulos

#### Describe your issue:
 "When I click on my edit button, my animal's information doesn't show up in the animal edit form"

#### List any error messages that appear:
'useState' is not defined

#### What have you googled?
 "how to get data to show up in a form from another component in react"

#### What have you tried?
Ex: I've tried re-tracing where props are coming

[2020-07-08 01:05] kaitvan opened #10 "Sample Issue Ticket"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Kaitlyn VanHook

#### Describe your issue:
A very descriptive sentence describing my issue.

#### List any error messages that appear:
ERROR!!!

#### What have you googled?
"the exact search terms I used for my problem"

#### What have you tried?
I tried x, y, and

[2020-07-08 01:06] chris-calhoun opened #11 "This is a test issue!"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Chris Calhoun

#### Describe your issue:
No issues here. Just checking things out.

#### List any error messages that appear:
No errors here. Just checking things out.

#### What have you googled?
N/A

#### What have you tried?
This is my first try.

#### Code Snip

[2020-07-08 01:06] ryanmcnair opened #12 "I have issues"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Ryan McNair

#### Describe your issue:
I'm am acceptably describing an issue that is fake.

#### List any error messages that appear:
There are so many errors:
1. example 1
2. example 2

#### What have you googled?
I used Yahoo with no results.

#### What have you

[2020-07-08 01:06] chrislojacono opened #13 "When to use ? in conditional syntax"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
Chris LoJacono

When is the proper time to use ? as opposed to if...else

undefined : ?

I have googled "When is the proper time to use ?"

I have tried an If/else statement in place and the output is the same

[2020-07-08 01:06] liz-barnes opened #14 "Dr.T asked us to create an issue. SEND HELP"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Liz Barnes

#### Describe your issue:
This is my first issue. I am learning the ropes. So far, so good (I think).

#### List any error messages that appear:
N/A

#### What have you googled?
Referred to the Help Me Template

#### What have you tried?
Referring to th

[2020-07-08 01:07] Srfreeny opened #15 "Am I doing this right?"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Stephen Freeny

#### Describe your issue:
I am attempting to make a help request.
#### List any error messages that appear:

#### What have you googled?

#### What have you tried?
Just that google.

#### Code Snippet (If applicable)

[2020-07-08 01:08] willkotheimer opened #16 "Bug - Browser Console Error"
##### I am having an issue where everything in my program is broken. It throws a console error.
---
#### Name:
Will

#### Describe your issue:

#### List any error messages that appear:
[code]

#### What have you googled?
"I googled the error message"

#### What have you tried?
Turning it off and turning it back on

#### Code Snippet (If applicable)

[2020-07-08 01:13] drteresavasquez commented on #16
Great job!

[2020-07-08 01:13] huntlee17 opened #17 "My NSS Instructors Are Awesome"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
(Because we don't know you by your github handle)

#### Describe your issue:

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable)

[2020-07-08 01:13] dannyfaillo opened #18 "unexpected token error"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:Danny
(Because we don't know you by your github handle)

#### Describe your issue:

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable)

[2020-07-08 01:13] drteresavasquez commented on #18
Great job!

[2020-07-08 01:14] drteresavasquez commented on #15
Great job!

[2020-07-08 01:14] Jonathon22 opened #19 "Need help changing directory in VS Code"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Jonathon Joyner
(Because we don't know you by your github handle)

#### Describe your issue: I need help changing directory in VS Code, I have created the workspace directory and foundations directory but cannot seem to change between the two. I have used pwd and i

[2020-07-08 01:16] StuGetz opened #20 "JavaScript scares the CRAP out of me!"
I literally can start hyperventilating and my heart rate soars. Did I mention nausea?

[2020-07-08 01:16] KSIHawkk opened #21 "Help With Navigation Bar Not Working"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Joseph Martin

#### Describe your issue:
"I added a nav bar and my buttons are not working and the search box is not showing"

#### List any error messages that appear:
"'Example is not defined"

#### What have you googled?
"How to add a nav bar and style it using

[2020-07-08 01:19] JSmith989 opened #22 "I have issues"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Jordan Smith

#### Describe your issue:

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable)

[2020-07-08 01:21] wppattonjr opened #23 "Help!"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Wendell
(Because we don't know you by your github handle)

#### Describe your issue: My terminal is giving me problems

#### List any error messages that appear: "Wendell is clueless"

#### What have you googled? Everything.......And Nothing

#### What have you tri

[2020-07-08 01:21] bandstrar opened #24 "[Test] Function not returning"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name:
Robert Bandstra

#### Describe your issue:
My function is not returning anything.

#### List any error messages that appear:
function.exe stopped working

#### What have you googled?
"javascript function not returning"

#### What have you tried?
A little bit of eve

[2020-07-08 01:22] esrduke95 opened #25 "Ground Control to Major Github?"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Summer!
(Because we don't know you by your github handle)

#### Describe your issue:

#### List any error messages that appear:

#### What have you googled?

#### What have you tried?

#### Code Snippet (If applicable)

[2020-07-08 01:51] wmmcinturff opened #26 "Cat-astrophic Issues"
##### Please use this template when creating a new "help ticket"! 👇👇👇
##### _Incomplete tickets will not be evaluated._
---
#### Name: Wanda
(Because we don't know you by your github handle)

#### Describe your issue: My cat keeps opening html menus and modifying information.

#### List any error messages that appear:

#### What have you googled? Are cats intelligent enough to operate computers? D

[2020-07-15 04:31] AutumnFoto opened #27 "the 'hs -o' command will not work for me"
#### Your Name: Autumn Fotopoulos

#### Describe your issue: When I put the hs -o code into my terminal it says " command not found"

#### List any error messages that appear: "command not found"

#### What have you googled? I have googled " hs -o wont work to launch browser in visual studio", " commands for opening server in visual studio", "http server wont open in VScode", and many more version

[2020-07-15 14:14] drteresavasquez commented on #27
@AutumnFoto I have found a couple of things that you can try. It also looks like VSCode has an extension. I believe @esrduke95 mentioned it in class last week.

Here is the VSCode extension documentation: https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer

For HTTP server, you can try this and let us know if it works:

Node.js http-server
Node.js has a simple HTTP server pac

[2020-07-16 00:27] AutumnFoto commented on #27
That worked, thank you!

[2020-07-25 18:03] brownabs opened #28 "Jest command not recognized - when trying to run npm test"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Abbey

#### Describe your issue: ES Lint command not recognized - when trying to run npm test. I have installed node and added git remote add upstream
git pull upstream master
Then installed npm test
I get this error when I run npm test JSI.test.js
sh: eslint: command not found
npm ERR! Test failed.  See above for more details.

[2020-07-25 18:06] drteresavasquez commented on #28
@brownabs did you try using `sudo` before the command?

[2020-07-25 18:09] brownabs commented on #28
That worked! I am fully testing now. Thank you!

[2020-07-25 19:04] chris-calhoun opened #29 "Updating Prettier default settings: Prettier switches single quotes to double quotes"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris Calhoun

#### Describe your issue: Every time I save a document, prettier formats my code. For today's in-class assignment, single quotes are required instead of double quotes for strings. But Prettier automatically switches my single quotes to double quotes.

#### List any error messages that appear:

#### What have you g

[2020-07-25 19:09] chris-calhoun commented on #29
I tried to disable and unistall prettier and my quotes still switch from single to double quotes.

[2020-07-25 19:10] drteresavasquez commented on #29
@chris-calhoun did you do a google search for prettier change defaults?

[2020-07-25 19:11] drteresavasquez commented on #29
https://stackoverflow.com/questions/48864985/vscode-single-to-double-quote-automatic-replace

[2020-07-25 19:30] chris-calhoun commented on #29
Ok, that worked. Thank you! I went into my preferences and changed the default settings.

[2020-07-25 19:30] liz-barnes opened #30 "Cloning GitHub repos on new machine"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Liz Barnes

#### Describe your issue:
I bought a new laptop and would like to move my repos from GitHub over to my new machine.

#### List any error messages that appear:
N/A

#### What have you googled?
How to move your GitHub repo to your computer via vs code

#### What have you tried?
Looking over Dr. T's instructions for the

[2020-07-25 19:36] liz-barnes commented on #30
I was able to find a solution for this issue, and it is very simple.

I found the solution here: https://code.visualstudio.com/docs/editor/github

1. Open up VS Code.
2. Click on 'Source Control' (third icon down on the left-side panel)
3. Choose 'Clone Repository'
4. You can then provide a URL link or click 'Clone from GitHub' in the search bar.

I chose 'Clone from GitHub' and it gave me all of

[2020-07-25 22:14] wmmcinturff opened #31 "Issue with connecting Github to local when Cloning repo"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wanda McInturff

#### Describe your issue: Attempted to remove a file/directory in VS Code to start-over while completing Week 3 challenge.

#### List any error messages that appear:
' rm: cannot remove 'code-challenges/Week3': Device or resource busy'

#### What have you googled?
'rm: cannot remove....Device or resource busy'
'

[2020-07-25 22:37] AutumnFoto commented on #31
Usually when it says 'device busy" you need to close out of VS code, and then you can use rmdir to delete the directory.

[2020-07-25 22:38] AutumnFoto commented on #31
or you are in the directory you want to delete, so then you would CD .. and then try to delete the directory.

[2020-07-25 23:35] wppattonjr opened #32 "Product cards stacking on top of each other"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell Patton

#### Describe your issue: For some reason my product cards are stacking on top of one another on my personal bio site.

#### List any error messages that appear: No error messages.

#### What have you googled? I have googled a number of flex box elements stacking on top of each other.

#### What have you tried? I

[2020-07-25 23:52] brownabs commented on #32
It is because in project.js you are using multiple divs. Try using <h> tag.

  for (let i = 0; i < projects.length; i++) {
        domString += `<div class='projectCards'>`
        //try using h tags for the card content
        domString += `</div >`
    }

[2020-07-25 23:57] drteresavasquez commented on #30
🎉🎉 WTG, @liz-barnes!

[2020-07-26 00:05] wppattonjr commented on #32
I changed the <div> to <h> tags but it is still doing the same thing.

for (let i = 0; i < projects.length; i++) {
        domString += `<div class='projectCards'>`
        domString +=    `<h1>${projects[i].title}</h1>`;
        domString +=    `<div><img src=${projects[i].screenshot}></div>`;
        domString +=    `<h2>${projects[i].description}</h2>`;
        domString +=    `<h3>Technologies

[2020-07-26 00:46] brownabs commented on #32
You didn't close the div

[2020-07-26 00:47] brownabs commented on #32
see example above

[2020-07-26 00:48] brownabs commented on #32
Also, you just need the one div.

for (let i = 0; i < projects.length; i++) {
domString += <div class='projectCards'>
//insert h tags here
domString += </div >
}

[2020-07-26 01:22] wppattonjr commented on #32
Perfect!!! Thank you!

[2020-07-26 13:52] drteresavasquez commented on #31
@wmmcinturff did @AutumnFoto‘s suggestion work? If not, can you list the steps that you did to create the repo?

[2020-07-26 14:47] wmmcinturff commented on #31
@AutumnFoto  thank you for responding. Both of your suggestions are sensible, and I've tried them. I used the second method of cloning instead of the forking method when I created the repo. Although everything was accessible in my local, I was unable to do a PR from Dr. T's git when I finished; just my own repo.

[2020-07-26 16:34] wmmcinturff commented on #31
Resolution: @drteresavasquez walked me through my problem. Firstly, I created an additional (unnecessary) directory in VS Code after I cloned. Was able to delete that directory and start over with a fresh clone from my repo. Secondly, in GitHub, I inadvertently made my branch my default rather than my master. This was resolved by clicking "settings" and re-assigning the default to "master."  I was

[2020-07-26 17:21] drteresavasquez commented on #31
@wmmcinturff thank you for the updates!

To all: when you clone, GH will create a directory structure for you, so if you create a folder and run: `git clone ...`, the directory structure from GH will be created INSIDE of that directory.

For instance, if you create a local directory called `challenges` and the GitHub repo is also called `challenges`, then you cd into your local instance of `challe

[2020-07-27 23:19] HunterJuneau opened #33 "Windows Terminal "hs -o" Opening Incorrect File"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Hunter Juneau
#### Describe your issue:
Whenever I try to use the "hs -o index.html" command in Windows Terminal, it keeps opening the same, incorrect file.

#### List any error messages that appear:

#### What have you googled?
I have googled "Windows Terminal hs -o opening incorrect file" but I can't find hardly anything relat

[2020-07-27 23:30] jacobpaine commented on #33
Hard refresh of the browser fixed it.

[2020-07-31 15:47] chrislojacono opened #34 ""Typescript error: property of eventlistener is null""
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris LoJacono

#### Describe your issue:
I'm pretty sure I've got the logic and order of events placed properly on my JS file but I'm catching an error on my line 34 " document.querySelector("#sort-button").addEventListener("click", getStudentName); " The first sorting box pops down to put the student name in but then when you

[2020-07-31 16:12] jacobpaine commented on #34
First, you have two event listeners on #sort-button. Try using only one.

[2020-07-31 16:53] chrislojacono commented on #34
I just tried only keeping the "document.querySelector("#sort-button").addEventListener("click", getStudentName);" in the button events and just calling the houseCards() function within the getStudentName function and I'm still catching an error on the same line

[2020-07-31 16:57] drteresavasquez commented on #34
@chrislojacono this may be a matter of if the element is available on the DOM yet. Can you place the render function above everything else in your code and let's see if the element gets picked up from there.

[2020-07-31 16:58] drteresavasquez commented on #34
Also, can we get a link to your repo?

[2020-07-31 17:01] chrislojacono commented on #34
https://github.com/chrislojacono/Sorting-Hat

[2020-07-31 17:03] drteresavasquez commented on #34
@chrislojacono did you console log or debug to get the value of the element? Start there and share what it returns. If that is null, then that is your issue.

https://stackoverflow.com/questions/26107125/cannot-read-property-addeventlistener-of-null
https://stackoverflow.com/questions/57191982/how-to-fix-typeerror-cannot-read-property-addeventlistener-of-null/57192080

[2020-07-31 17:18] drteresavasquez commented on #34
The issue is the element is not available on the DOM. What I would do is like we did on the event listener pies thing we did. The parent needs the event listener on it so that you can listen for a click and get the target to do something with. Reference the delete button.

Remember the things you are adding to the DOM are dynamic so it is best to add the querySelector to something already there.

[2020-07-31 17:44] chrislojacono commented on #34
`'use strict';

// THIS IS THE FIRST BUTTON CLICK
const letsStartSorting = () => {
    document.querySelector('#sortButton').addEventListener('click', sortingForm)
}
const printToDom = (divId, textToPrint) => {
  const selectedDiv = document.querySelector(divId);
  selectedDiv.innerHTML = textToPrint;
};
// THIS PRINTS THE INPUT BOX
const sortingForm = () => {
  let domString = `<form id="student-

[2020-07-31 17:44] chrislojacono commented on #34
this is what I have now, no errors but the whole input field disappears once i click "sort" now haha

[2020-07-31 17:58] drteresavasquez commented on #34
It was actually disappearing before. So, you have your event listener set up on something in the HTML and it is working? You may have to have more than one element in the HTML to reference, which is what you likely need anyway.

[2020-07-31 17:59] drteresavasquez commented on #34
And can you format your code above? Make sure to use 3 backticks so we can see it better.

[2020-07-31 18:00] chrislojacono commented on #34
[code]

[2020-07-31 18:02] drteresavasquez commented on #34
If this is a different issue, let's open up another ticket since this one seems to be resolved. Can you give information on how you fixed your null value below and then open another issue? Thanks!

[2020-07-31 22:14] chrislojacono commented on #34
The issue was I was targeting an element that had not yet been printed to the DOM so I had to target one I had already placed then use the e.target.id to hit the button I wanted

[2020-07-31 22:25] drteresavasquez commented on #34
Keeping open for ease of searching.

[2020-07-31 22:27] chrislojacono opened #35 "On form submit, div disappears"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris LoJacono

#### Describe your issue:
We aren't getting any errors, but after the sorting form prints to the DOM and you fill the input field the whole div disappears

#### List any error messages that appear:
N/A

#### What have you googled?
disappearing divs in javascript.

#### What have you tried?
I have tried using the

[2020-07-31 22:28] chrislojacono commented on #34
Alright, sorry about that!

[2020-07-31 22:33] drteresavasquez commented on #34
No worries! You are all good!

[2020-07-31 23:21] drteresavasquez commented on #35
In the HTML try taking the type=submit off the button. Tell us what happens when you do that.

[2020-07-31 23:53] chrislojacono commented on #35
The same thing is happening when I do that

[2020-08-01 01:25] michaelpfohl commented on #35
It appears you are missing a closing quotation mark on the class's for your button.

```<button type="submit" class="btn btn-primary mb-2 id="sort-button">Sort!</button>```

There should be a closing quotation after mb-2.

[2020-08-01 01:33] chrislojacono commented on #35
hmmm I fixed that and it's still doing the same thing

[2020-08-01 01:40] drteresavasquez commented on #35
@chrislojacono can you only include the impacted code? Or is this whole file being used for your button action? Give us the relevant JS and HTML so we can see it just a little more clearly if you don’t mind.

[2020-08-01 01:41] drteresavasquez commented on #35
BTW, you can edit the code above as well 😊

[2020-08-01 01:49] chrislojacono commented on #35
This is the HTML and to be honest I'm not sure where it's going wrong that its just removing the first sortingForm. @ryanmcnair  and I have spent hours and hours trying to fix it and we keep having the same thing happen.

[code]

[2020-08-01 02:01] drteresavasquez commented on #35
Step away from the code 😂. I have it pulled down. Are your latest updates in the repo? I’ll take a look and see what we can figure out. We can talk through it tomorrow morning.

[2020-08-01 02:06] chrislojacono commented on #35
Bless you!! 😂

[2020-08-01 02:29] drteresavasquez commented on #35
@chrislojacono there are 2 ways to fix your issue.

1. you have to do the following in your `getStudentName` function:
[code]

2. Another way you could do this is to change the `form` tag in your sortingForm because since it is a form it is trying to submit. Remove the type=submit off the button and do this instead for your domString in your sorting form:
[code]

Either of these should stop the fo

[2020-08-01 02:37] drteresavasquez commented on #35
There are a couple other issues you have too.
1. @michaelpfohl mentioned closing the class assignments on your button, which you also need to do.

2. This function is not comparing the right thing. You are looking at the currentTarget when you are looking at `buttonId === "sort-buttondiv"` but you are assigning `buttonId` to `target`, so it should look like this:
[code]

[2020-08-01 02:51] chrislojacono commented on #35
ahhh thank you guys so much!! @drteresavasquez @michaelpfohl you guys are my HEROES

[2020-08-01 16:28] smudick opened #36 "How do I get rid of commits I do not want?"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Sam

#### Describe your issue: I made some changes to my project on a new branch and never committed the changes. I broke something and wanted to go back to master, but when I git checkout master the files stay exactly the same, with all of my uncommitted changes. I confirmed that my master is correct on github, with none of the

[2020-08-01 16:40] drteresavasquez commented on #36
@smudick Your commits follow you if you don't do something with them. So, you need to add and commit on the throwaway branch or run `git reset`

[2020-08-01 16:50] chris-calhoun commented on #36
Hey Sam, I think I've had a similar issue and I tried:

[2020-08-01 16:51] chris-calhoun commented on #36
`git fetch origin
git reset --hard origin/master`

[2020-08-01 16:51] chris-calhoun commented on #36
https://stackoverflow.com/questions/1628088/reset-local-repository-branch-to-be-just-like-remote-repository-head

[2020-08-01 16:59] smudick commented on #36
Thank you, both of those worked to solve my problem!

[2020-08-02 17:24] bandstrar opened #37 "Buttons only printing the first objects in an array"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Rob Bandstra

#### Describe your issue:
Buttons are only printing the first objects in my array on click when they should be printing the selected objects.  The function and for loop recognizes how many objects to print, but not which objects to print.

#### List any error messages that appear:
None

#### What have you googled?

[2020-08-04 18:16] drteresavasquez commented on #37
@bandstrar did you find a solution to your issue? Or are you still needing some help? Sorry this one slipped past us. @jacobpaine @brownabs

[2020-08-04 20:34] bandstrar commented on #37
I still need help on it, haven't been able to fix it

[2020-08-04 21:16] jacobpaine commented on #37
You have a naming mix up with petArray and petsArray.

[2020-08-04 22:55] bandstrar commented on #37
That solved it! I was looping through the main array instead of the argument array.

[2020-08-10 16:03] Srfreeny opened #38 "Git Detached Head error"
---
#### Your Name: Stephen

#### Describe your issue: will a deleted local branch never pushed to Git affect a new master branch pull down?

I was working on my portion of the group project, but decided what I had wrote would actually not be applicable with our newest master. I had only worked locally and had not pushed up or added anything. I went ahead and deleted my branch so it wouldn't effec

[2020-08-10 17:45] jacobpaine commented on #38
https://stackoverflow.com/questions/10228760/fix-a-git-detached-head#:~:text=Detached%20head%20means%20you%20are,HEAD%2C%20i.e.%20HEAD%5E).

[2020-08-11 03:23] drteresavasquez commented on #38
@Srfreeny did that help your issue?

[2020-08-11 12:30] Srfreeny commented on #38
Yes indeed! Thank you. I read this article when I was googling, but admittedly I got a little confused at all the different methods. Admittedly I should have looked deeper into them to try and understand. I appreciate the help!

[2020-08-13 02:34] josephtmartin opened #39 "http-server will not load web page"
#### Your Name:
Joseph Martin
#### Describe your issue:
When I ```hs -o``` my page will not load and i get an error saying "Aw, Snap!" something went wrong when displaying this webpage

#### List any error messages that appear:
"Aw, Snap!" something went wrong when displaying this webpage (error message is displayed on the chrome window)

#### What have you googled?
* How to fix: "Aw, Snap!" somet

[2020-08-13 13:44] drteresavasquez commented on #39
@josephtmartin try explicitly going to `http://127.0.0.1:8080/index.html` or any other page and see if the server loads. Let me know what you find.

I found this issue on GH and it may be helpful. https://github.com/http-party/http-server/issues/525

[2020-08-13 13:50] drteresavasquez commented on #38
@Srfreeny can you tell us what you did to resolve your issue here?

[2020-08-13 15:08] Srfreeny commented on #38
Absolutely. So I was a little shaky on the whole process of pushing up branches at the time and I saw we had a new master that needed to be pulled down. I hadn't really written much code at that point and I was worried that my code would interfere with master. I never add, commit, push on my branch, so I just deleted the branch in order to pull down master. When I did that, the branch I had delete

[2020-08-13 17:36] josephtmartin commented on #39
@drteresavasquez i tried ```http://127.0.0.1:8080/index.html``` and other pages it did not work. My network tab in dev tools did not throw any errors either. I looked at that issue and should I try to uninstall and install an older version of http-server?

[2020-08-13 17:39] drteresavasquez commented on #39
You can try to uninstall and reinstall globally. Was it working before?

[2020-08-13 17:41] josephtmartin commented on #39
It has been working fine until last night i went to refresh my page and it never loaded then gave me the "Aw,Snap!" error.

When i try to uninstall it gives me this:
goldglove@Bork:/mnt/c/Users/goldg$ npm uninstall -g http-server
npm WARN checkPermissions Missing write access to /usr/lib/node_modules/http-server/node_modules/basic-auth
npm WARN checkPermissions Missing write access to /usr/lib/nod

[2020-08-13 18:08] josephtmartin commented on #39
Ok so i figured out how to uninstall and re-install and i tested on my sorting-hat and it worked perfectly but it still isn't working on my pants project

[2020-08-13 18:35] drteresavasquez commented on #39
@josephtmartin ensure you are in the right directory when you run it. I am not sure what is happening so we may need to jump on Zoom later tonight. In the meantime, you can navigate to the files and run them with the browser. Send me some times after 5 that work for you.

[2020-08-13 18:42] josephtmartin commented on #39
Well i think the issue is with my local directory. I made a new directory and cloned our team repo to it and it is working now.

[2020-08-13 18:43] drteresavasquez commented on #39
@josephtmartin that is great to hear. I am not sure why that happened, but glad you found a solution!

[2020-08-13 18:44] josephtmartin commented on #39
When reading that GH link you sent me i read that people where having issues with their directories so i just made a new one and am now good to go!

[2020-08-13 23:51] josephtmartin opened #40 "Null on eventlistener: Single Page JS Function Conflicts"
#### Your Name:
Joseph Martin

#### Describe your issue:

#### List any error messages that appear:
Uncaught TypeError: Cannot read property 'addEventListener' of null main.js:53
    at buttonEvents (main.js:53)
    at init (main.js:128)
    at main.js:131

#### What have you googled?
* The error message
* How to use one JS file for multiple HTML files

#### What have you tried?
* Moving where my

[2020-08-13 23:53] josephtmartin commented on #40
I didn't call createfaq function because when i call it the aboutus functionality disappears and vice versa

[2020-08-14 00:42] drteresavasquez commented on #40
Make sure to look through the issues before creating one. This is a duplicate of this one #34

[2020-08-14 01:01] drteresavasquez commented on #40
Also remember when you get null on an event listener what does that mean? You’re going to be challenged on this one because you’re used to having one HTML page and one JS file so things will need to load as each HTML file is loaded. It’s a little tricky, but think through the issue. What do you think will need to happen?

[2020-08-14 01:09] josephtmartin commented on #40
Ok, Chris L helped me with this. ```const buttonEvents = () => {
  if (document.getElementById('aboutPage')) {
  document.querySelector('#aboutUsBtn').addEventListener('click', aboutInfoBuilder);
  }
  if (document.getElementById('faqPage')) {
    createfaq();
  }
};```
We fixed the issue by adding an id to the body and in our button events function adding an if statement to check the id of the pa

[2020-08-14 01:16] drteresavasquez commented on #40
That’s awesome, thanks @chrislojacono!

[2020-08-15 01:11] willkotheimer opened #41 "Error cannot resolve host github.com"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will Kotheimer

#### Describe your issue:

Trying to git push branch or git pull master, from anywhere, not just my current project... I get an error that it cannot resolve the host

#### List any error messages that appear:

[code]

#### What have you googled?

 I tried to google the error message

#### What have you tried?

[c

[2020-08-15 02:31] willkotheimer commented on #41
The answer w/ 182 upvotes got it working for me... https://askubuntu.com/questions/91543/apt-get-update-fails-to-fetch-files-temporary-failure-resolving-error

I was getting a resolving github error, and tried almost everything I could find. Something was wrong with my address and port. But I don't know enough networking to know how to fix it with advice like "just do this": `git config --global <

[2020-08-15 16:05] BaileyEDennis opened #42 "Search Functionality and printing Cards to DOM not working"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Bailey Dennis

#### Describe your issue:
When searching for a card on my page, I am unable to get a card printed without errors. These errors vary from Type errors, to just not displaying at all. I have tried different iterations of my code to get it to work. The search function itself, I believe, works.

#### List any error mes

[2020-08-15 16:19] chrislojacono opened #43 "Carousel is printing for every image instead of one single carousel"
---
#### Your Name: Chris LoJacono

#### Describe your issue:
Im trying to display a carosel on the home page to showcase the pants that are on sale and its printing one for every item instead of one that flips through the items

#### List any error messages that appear:
None

#### What have you googled?
Printing carosels to the DOM

#### What have you tried?
Ive tried only using one carosel div i

[2020-08-15 16:23] drteresavasquez commented on #43
@DeannaMix can you help @chrislojacono out with this one?

[2020-08-15 16:36] Jonathon22 opened #44 "Adding EventListeners to Elements that were dynamically created on the DOM and Appending content to DOM Elements"
---
#### Your Name: Jonathon Joyner
#### Describe your issue:
Trying to get reply comment box to populate once pressing the reply button

#### List any error messages that appear:
No error messages are showing

#### What have you googled?
I have googled creating a reply box with js, and I have googled 'js methods to create reply box

#### What have you tried?
 I have tried window.onclick and print

[2020-08-15 16:38] drteresavasquez commented on #44
@Jonathon22 what is actually happening when they push reply? Is the console log coming up?

[2020-08-15 16:39] drteresavasquez commented on #44
You likely need to not be googling anything about reply. You need to be googling on the tech you are trying to create. So, try looking into something related to appending to DOM

[2020-08-15 16:40] Jonathon22 commented on #44
Yes when you press reply the console log shows , and no errors are showing
, I just received my first error of “cannot set property of  inner HTML of
null

On Sat, Aug 15, 2020 at 11:38 AM Dr. Teresa Vasquez <
notifications@github.com> wrote:

[2020-08-15 17:51] Jonathon22 commented on #44
const commentBtnClick = (id) => {
    document.querySelector(`#comment-button${id}`).addEventListener('click', () => {

        // WHEN COMMENT BUTTON IS PRESSED...

        // 1. GRAB COMMENT INPUT VALUE
        let inputText = document.querySelector(`#commentTextArea${id}`).value

        // 2. CREATE A DOM ELEMENT
        let node = document.createElement("P");
        let textnode = document.c

[2020-08-15 17:52] drteresavasquez commented on #44
The issue @Jonathon22 was having was that he had a couple of items that were being set dynamically on the DOM based on button click.
1. He had a form that takes comments
2. Once a user submits the comment, it renders on the DOM with a reply button
3. When the reply button is clicked, a text input and comment button should appear
4. When the comment is submitted, it should append to the first comme

[2020-08-15 17:58] HunterJuneau opened #45 "Variable Changing Its Value to Undefined"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Hunter Juneau
#### Describe your issue:
I am selecting a div in my HTML from my JavaScript, but halfway through my function it seems to be changing to 'undefined.'

#### List any error messages that appear:
Uncaught TypeError: Cannot read property 'style' of undefined
    at showSlide (main.js:256)
    at init (main.js:262)

[2020-08-15 17:59] willkotheimer commented on #44
I love this - ` document.querySelector(`#comment-button${id}`).addEventListener` Never thought about setting ids dynamically inside a querySelector.

[2020-08-15 18:02] Jonathon22 commented on #44
1. I have a form that takes the comments and pushes it to an empty array
2.it takes content of the form and prints it as a comment using template literals.
3. When the reply button is clicked it takes the id of the button and prints a empty text box
4.Once the comment is submitted we added a dynamic id to the event listener to take the comment and create an element accessible to the dom.
5. Then w

[2020-08-15 18:05] JSmith989 opened #46 "Images not pulling from folder when testing someones PR"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:

#### Describe your issue:
images are showing up in vscode under the images folder and are working correctly when I hs -o on my machine but when teammates try to test my code on my PR the images weren't loading.

#### List any error messages that appear:
no error message, just images not loading

#### What have you googled?
Imag

[2020-08-15 18:09] willkotheimer commented on #44
That sounds really cool! Its hard to imagine for me, I guess I would need to see a gif or something. It still sounds pretty awesome. appendChild is pretty neat. I don't use it a lot but when I have its been fun!

[2020-08-15 18:20] HunterJuneau commented on #45
Instead of selecting the container, I selected all the elements by class.

[2020-08-15 18:24] wppattonjr opened #47 "Problem with gitHub Pull Down From Master"
#### Your Name: Wendell Patton

#### Describe your issue: When I pulled down from the latest master from gitHub to my master branch all of the functionality of our site does not work. But when I pulled down the latest version of master to one of my feature branches the site works properly.

#### List any error messages that appear:
warning: Pulling without specifying how to reconcile divergent bra

[2020-08-15 22:41] drteresavasquez commented on #42
@BaileyEDennis did this get resolved?

[2020-08-15 22:41] drteresavasquez commented on #43
@chrislojacono can you post an update for how this was resolved?

[2020-08-15 22:43] drteresavasquez commented on #46
@JSmith989 how were you able to resolve this?

[2020-08-15 22:43] drteresavasquez commented on #47
@wppattonjr are you still working on this?

[2020-08-16 00:45] JSmith989 commented on #46
@drteresavasquez we realized that the image folder was not in the setup branch. As soon as we moved it to the setup branch all of the images loaded just fine!

[2020-08-16 01:08] drteresavasquez commented on #46
Awesome!

[2020-08-16 01:36] chrislojacono commented on #43
So after lots of help from @drteresavasquez @jacobpaine @brownabs and @DeannaMix we decided the loophole to getting my conditional to work was to force the first one out by setting a variable "saleBoolean" = true and after the first if statement passes, then changing the value of that variable to false and then the function continues with this else if statement and prints the same carosel div, jus

[2020-08-16 04:47] josephtmartin commented on #46
@drteresavasquez  @JSmith989 Just to clarify. It was not the setup branch but the setup folder. We had all of our code files in a setup folder and the images were in a seperate folder. When we pulled them the files paths did not match. So we copied the image folder into our setup folder. The file path remained the same as previous.

[2020-08-16 19:16] AutumnFoto opened #48 "Help with conflicts being too complex to merge on github"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Autumn Fotopoulos

#### Describe your issue:
Button for resolving conflicts on github is greyed out, saying that I can only do it in my command line.

#### List any error messages that appear:
no errors appear

#### What have you googled?
That you can resolve conflicts in command line but nothing is being shown on my end, and th

[2020-08-16 20:02] drteresavasquez commented on #48
You need to pull master down locally and then merge it into your branch in the command line. You’ll likely have conflicts show up then. You should not fix conflicts on github so handle them all locally. Your IDE will guide you through the process but make sure you don’t remove code that is needed by testing out everything in your branch locally after you fix the conflicts.

[2020-08-16 20:03] drteresavasquez commented on #48
After that, push your branch up again and the conflicts should be resolved.

[2020-08-16 23:40] AutumnFoto commented on #48
Before you answered I actually ended up deleting and cloning everything( anxiety and project being due tomorrow I was just trying to hurry) but this is definitely good to know for next time!! and are we always suppose to check conflicts within the command line and not on github?

[2020-08-17 00:09] drteresavasquez commented on #48
Yes. That is correct. Handle conflicts locally on your machine.

[2020-08-22 15:15] kaitvan opened #49 "Need to capture data from form entry and push to an array"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Describe your issue: When the user clicks submit, the information in the input fields should be captured and pushed to a new array as an object. However, sometimes the click method adds only ONE object to the array. Other times, no items are added to the array at all.

#### List any error messages that appe

[2020-08-25 16:01] chrislojacono opened #50 "Having trouble making modals pop up for specific cards"
---
#### Your Name: Chris LoJacono

#### Describe your issue:
I'm having a hard time wrapping my head around how to make the modals on my cards pop up for the specific card. At the moment every time I click the button it renders a modal for the first card in the array, regardless of what card I click.

#### List any error messages that appear:
None

#### What have you googled?
how to render modals

[2020-08-25 16:03] drteresavasquez commented on #50
Hey, @chrislojacono its because your modal ids are not dynamic so every modal on the page is targeting the same modal. Make sure that you change the ID on the button as well as on the modal itself to include a dynamic, unique ID.

[2020-08-25 16:09] chrislojacono commented on #50
Awesome!!! Thank you!

So for others stuck, I just tagged all of my data targets and modal id's with the index!

[2020-08-25 17:52] michaelpfohl opened #51 "Bootstrap contextual classes not changing background color of progress bar"
#### Your Name: @michaelpfohl

#### Describe your issue:
- I have created some conditional logic that checks the value of a dino's health and then assigns a Bootstrap contextual class in order to change the color of the progress bar to yellow if below 60 and red if below 20. I am able to confirm that the function is working properly by console logging the dynamic element and seeing that the classe

[2020-08-25 17:53] michaelpfohl commented on #51
Logic for determining the classes to be applied can be found within the healthColor.js file in the components directory.

[2020-08-25 18:35] drteresavasquez commented on #51
@michaelpfohl I will need you to walk me through this, but one thing I see is that you are using `-` for some classes and `--` for others as seen here: https://github.com/michaelpfohl/dino-kennel/blob/health-bar/javascripts/components/healthColor.js#L5

[code]

Is that intentional?

[2020-08-25 18:41] michaelpfohl commented on #51
Thanks for pointing that out, that's a relic from where I tried to use my own classes instead of Bootstraps since I prefer to use ```--``` when writing my own classes. I'll get those fixed and I can walk you through the issue during class.

[2020-08-25 18:53] drteresavasquez commented on #51
Oh ok. Do those classes exist? If not, that may be your issue.

[2020-08-25 18:54] jacobpaine commented on #51
Looks like healthColor is being called, then you're overwriting it with printDinos. And printDinos has bg-success set as the standard.

[2020-08-25 18:57] drteresavasquez commented on #51
That looks true too!
https://github.com/michaelpfohl/dino-kennel/blob/health-bar/javascripts/components/makeCard.js#L51

[2020-08-25 19:23] michaelpfohl commented on #51
@drteresavasquez I thought using ```!important``` was unnecessary so long as you had your own stylesheet linked last.

@jacobpaine yeah I'm seeing that, I'm trying to figure out how to have the class change actually render without overwriting the change. I experimented with moving the healthColor function in and out of printDinos and makeCard but I'm still running into the same issue where wheneve

[2020-08-25 19:27] drteresavasquez commented on #51
If your style sheet is using the exact style names it is overwritten. Yours were different.

[2020-08-25 19:30] michaelpfohl commented on #51
I got it working by changing the healthColor function to output the specific class I need instead of using the add and remove class and have that imported into my makeCard function but I think there's probably a more elegant solution.

[2020-08-25 19:32] drteresavasquez commented on #51
Actually that is a good solution! WTG! Are you using the logic to render the classes inline or another way? Can you link directly to the change you made?

[2020-08-25 19:34] michaelpfohl commented on #51
just pushed a commit with the solution to my health-bar branch but here's the snippet that I changed in my healthColor function:

[code]

[2020-08-25 19:40] drteresavasquez commented on #51
Another thing to consider...and this could be stretch, is you are comparing health a couple of places. Is there a set standard for healthy, sick, and dead? If so, possibly using one location to hold those values and use the vars so if you ever want to change those limits, they are not hard coded and can be edited from one place? Just something to consider since you’re eating this project alive!

[2020-08-25 19:45] michaelpfohl commented on #51
Good call out, I'll take a look and see if that can be added to my planned features list.

[2020-08-25 21:48] chrislojacono opened #52 "Only my first array of items buttons are working until one in the "kennel" is clicked"
---
#### Your Name: Chris LoJacono

#### Describe your issue: Ive sorted my cards into the separate arrays and they appear as the should on the DOM, but the info modals will only work in the hospital and graveyard cards after I've clicked one of the info buttons in the kennel

#### List any error messages that appear:
None

#### What have you googled?
Why click events wont work until first div is

[2020-08-25 22:04] drteresavasquez commented on #52
Where are you setting your click event?

[2020-08-25 22:21] chrislojacono commented on #52
It's in the bottom of my function that is rendering the cards and Im calling the rendering function from my sorter function and calling that from "init". I can show you in class if that's easier!

[2020-08-25 22:34] drteresavasquez commented on #52
Sure, but if you have a branch up, it is easier for you to share the link to the file so we can see it

[2020-08-25 22:37] chrislojacono commented on #52
https://github.com/chrislojacono/Dino-Kennel-Milestone-1/pull/17/commits/59103988c789119b00e602a58db95021fffc1f46

[2020-08-25 22:41] drteresavasquez commented on #52
It seems that the modals are not on the DOM until something is clicked. That is why on the first click they are not there. You need to take them out of the click event for them to load with everything else and then add the click event after...actually the way you are using BS modals, you don't need a click event on this.

[2020-08-25 22:49] chrislojacono commented on #52
Awesome! I was definitely overcomplicating that!

[2020-08-25 22:50] drteresavasquez commented on #52
Did that work for you?

[2020-08-25 22:51] chrislojacono commented on #52
Yup! I just targeted an empty div on the index file with my modal function and called the function in init!

[2020-08-25 23:11] chrislojacono opened #53 "Can't figure out how to update the health bar without reprinting all the cards over"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris LoJacono

#### Describe your issue:
Sorry, lots of hang ups today! Im trying to reload the health bar without reprinting all of the cards over again. I have it working(click "feed" and adds +5 health to the dino) but in order for it to appear im calling the divSorter function again at the end of my click event. I can't fig

[2020-08-25 23:20] drteresavasquez commented on #53
Don't reload the card, just update the progress bar. That is a hint ;-)

[2020-08-25 23:22] drteresavasquez commented on #53
If you want to not append more cards, think about the updates that need to be made and focus on those details. Also, you may consider clearing the element and appending them again. Check out this https://github.com/drteresavasquez/functions-with-dranks/blob/master/javascripts/components/allDranks.js#L7

[2020-08-26 00:15] chrislojacono commented on #53
I'm still struggling with this. Ive tried doing removeClass then .addClass() on elements. tried putting a forEach loop around it and clearing the progress bar div then filling the progress bar div with the same template literal I have in the original card function and it reloads it but the value its spitting out seems random and not + 5. It's also only working on the kennel cards

[2020-08-26 00:36] smudick opened #54 "Getting errors when trying to define a DOM element with jQuery"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Sam

#### Describe your issue: I am trying to pass an argument which defines the div id where I want to print some HTML. When I try to do that, I get the following error.

#### List any error messages that appear:
Uncaught Error: Syntax error, unrecognized expression: #[object HTMLDivElement]
    at Function.se.error (jquery-3.5

[2020-08-26 00:38] drteresavasquez commented on #54
did you console or use the debugger to find what `location` is?

[2020-08-26 00:41] smudick commented on #54
Yes, it comes back as <div id="kennel"></div>.

Is the issue that I only want it to come through as "kennel"?

[2020-08-26 00:43] drteresavasquez commented on #54
That is a whole HTML element just like the error says right? That means you did not pass your function the correct thing, so follow the code and see where that is passed as an argument and you can likely find the resolution there. Send me the code that passes the argument as well. I would like to see it on a branch in its totality for context.

[2020-08-26 00:52] wppattonjr opened #55 "Getting "failed to load" error when trying to look at my page live."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Describe your issue: Getting the following errors when loading my page live.

#### List any error messages that appear:
"Failed to load resource module:1 the server responded with a status of 404 (Not Found)"

"failed to bootstrap-solid.svg:1 load resource: the server responded with a status of 404 (Not Found)"

##

[2020-08-26 00:59] drteresavasquez commented on #55
You had this same issue when we first started using bootstrap, remember? What is that `bootstrap-solid.svg:1 `? Could that be the logo for the navbar? Try seeing if getting rid of that helps solve the issue.

[2020-08-26 01:02] smudick commented on #54
Okay I got it. It was two things.
1. I needed to make that location argument a string in order to pass it. BUT when I tried that it was not throwing an error anymore but was still not printing anything to DOM so...
2. the second issue was clearing out the main container that kennel is nested in. Once  I switched
 `$('#dino-locations').html('');`
to
` $(`#${location}`).html("");`
It started display

[2020-08-26 01:07] kaitvan opened #56 "Having trouble updating the color of the progress bar based on health"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Describe your issue: When I use .addClass to apply a new class changing the color of the progress bar based on the dino's health, it updates the class for ALL of the cards, because I'm targeting the progress-bar class, which every card has. How do I get it to apply to ONLY that specific card that I'm buildi

[2020-08-26 01:08] drteresavasquez commented on #54
This is excellent news! Way to follow the code!

[2020-08-26 01:09] drteresavasquez commented on #56
Can we have a code snippet or link the the branch and code that you are working on?

[2020-08-26 01:11] drteresavasquez commented on #53
Can we get a link to the specific code that you are having issues with?

[2020-08-26 01:12] drteresavasquez commented on #56
Also see #53 and #51

[2020-08-26 01:12] wppattonjr commented on #55
I removed the image. If now if I change anything on my index.html I see it but if I console log anything on my main.js I do not see anything in the console and I get the following

GET  http://127.0.0.1:5500/module  index.html:44
net::ERR_ABORTED 404 (Not Found)

[2020-08-26 01:14] drteresavasquez commented on #55
make sure that you have the path to your module file correct and also make sure you are using the type module. If those are correct, try stopping and starting your server. If that does not work, we can jump in a breakout room

[2020-08-26 01:19] kaitvan commented on #56
`const dinoSort = () => {
    dinos.forEach((dino) => {
        if (dino.health === 0) {
            $('#dino-graveyard').append(dinoCardHtml(dino));
        } else if (dino.health < 50) {
            $('#dino-hospital').append(dinoCardHtml(dino));
            $('.progress-bar').addClass('bg-danger');
        } else {
            $('#dino-kennel').append(dinoCardHtml(dino));
            $('.progre

[2020-08-26 01:20] kaitvan commented on #56
I know that code block is hard to read. How can I insert it so that it's easier to read?

[2020-08-26 01:24] chrislojacono commented on #53
Turns out I had been calling my addDinos function within my for loop, so it worked for the original print but everything got wonky after that! Also I was targeting the index instead of the unique i.d., so when they got pushes into separate arrays there was a conflict of duplicate indexes

[2020-08-26 01:32] kaitvan commented on #56
This is how we solved it. Needed to make the ID on the progress bar specific to that individual card.

[code]

[2020-08-26 01:35] drteresavasquez commented on #55
@wppattonjr please share the resolution to your inquiry please ;-)

[2020-08-26 01:35] wppattonjr commented on #55
I had src="module" when I should have had type="module" on my index.html page. Issue is resolved now.

[2020-08-26 02:22] michaelpfohl opened #57 "array.forEach is not a function after changing to localStorage"
#### Your Name: @michaelpfohl

#### Describe your issue:
- I am attempting to convert my application to using localStorage and I have successfully sent and retrieved the values from the local storage, with the JSON object being appropriately parsed back into an array, however now I am getting an error that "array.forEach is not a function" on line 8 of my printDinos.js file.

#### List any error m

[2020-08-26 02:25] drteresavasquez commented on #57
Hmmm....are there some spacing issues on this line? https://github.com/michaelpfohl/dino-kennel/blob/local-storage/javascripts/main.js#L3

[2020-08-26 02:27] michaelpfohl commented on #57
I don't believe so, it was strange to me too the first time I saw it but I believe the spaces are there because that directory is named helpers / data. It has not caused an issue in the past.

[2020-08-26 02:31] drteresavasquez commented on #57
Super weirdo! OK...can you use the debugger to step through the render and find the value of `array` when it is passed through that function? I may need to screen share.

[2020-08-26 03:09] drteresavasquez commented on #57
@michaelpfohl can you tell us what you did to resolve this? This was a GOOD one!!!

[2020-08-27 20:23] BaileyEDennis opened #58 "Issue targeting buttons - using domString += in for loop"
#### Your Name:
Bailey
#### Describe your issue:
I am having trouble targeting my buttons on my card. I can set the buttons to be targeted individually (e.x. feeddino1, feeddino2, etc.). However, when I try to target them using the dinos array, it does nothing. Can't even get a console.log to work.

#### List any error messages that appear:
none, nothing happens.

#### What have you googled?
remov

[2020-08-27 20:31] drteresavasquez commented on #58
what is `${dinos.id}`? And do you need to pass that as an argument to your `cardButtons` function so that you can use it?

[2020-08-27 20:34] BaileyEDennis commented on #58
So I have discovered #feed${dinos[0].id} will work, but only for the number I specify which would be a lot of code to write out. I tried passing dinos into the function and get the same result (nothing works). When I look at dinos in the function it gives me the array of objects I need. therefore dinos.id should pull the id of the dino I clicked on.

[2020-08-27 20:36] drteresavasquez commented on #58
Can we have a link to the code here on github? If you push your branch and send a link directly to the file, that would help

[2020-08-27 20:37] BaileyEDennis commented on #58
https://github.com/BaileyEDennis/dino-kennel/tree/feed

[2020-08-27 20:37] BaileyEDennis commented on #58
https://github.com/BaileyEDennis/dino-kennel/blob/feed/main.js

[2020-08-27 20:38] drteresavasquez commented on #58
What line?

[2020-08-27 20:38] BaileyEDennis commented on #58
238

[2020-08-27 20:40] drteresavasquez commented on #58
I would tell you to put the call to the function `cardButtons(dinos)` into the place you are rendering them on the card and pass that function the ID instead of the whole array because you are looking for the specific ID and not an array in that function

[2020-08-27 20:42] BaileyEDennis commented on #58
I am so sorry I feel super dumb, I am not following. Are you saying in my buildcards() function to call my cardButtons function?

[2020-08-27 20:46] drteresavasquez commented on #58
So you have this already:
[code]

[2020-08-27 20:47] drteresavasquez commented on #58
Then, in your function you would do something like this:
[code]

[2020-08-27 20:49] drteresavasquez commented on #58
@BaileyEDennis and do not feel that way! You are learning the same as every other developer does every day of our career. You have to get comfortable about not understanding and think of questions that can help get you closer to the answer you are looking for

[2020-08-27 20:51] BaileyEDennis commented on #58
Ok im going to struggle with this for a minute and calm down :p then I will let yall know whats up!

[2020-08-27 20:52] drteresavasquez commented on #58
I know when you let us know, I am gonna be able to shake my shaker! Every time I shake it, a dev gets their wings! LOL!

[2020-08-27 21:09] BaileyEDennis commented on #58
Okay, I still don't know what I am missing here. 😢 I see how the loop is generating the id's and sending that as a parameter to the cardButtons() function. It still is not doing anything though! I have the parameter being passed in the loop. I even logged it out and see all of the appropriate ID's. They just aren't working for me.... I am not sure what I missed...

[2020-08-27 21:25] drteresavasquez commented on #58
You did a console log in card buttons? Have you debugged it to step through and see the values pass each time to ensure everything is setup correctly?

I can probably jump on for a few minutes at about 5:30. Doe’s that work?

[2020-08-27 21:25] BaileyEDennis commented on #58
That would be lovely :) I am gonna keep grinding until then!

[2020-08-27 22:23] wppattonjr opened #59 "Problem getting the cards to print to their div."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Describe your issue: I am able to get all of the cards to print but I am having a problem getting specific cards to print to the div that I want them to print to.

#### List any error messages that appear: I am getting an undefined in a forEach statement that I have not been able to figure.

#### What have you goog

[2020-08-27 22:51] jacobpaine commented on #59
Add a link to the project if you would. I'll dig in your github for the moment.

[2020-08-27 22:54] jacobpaine commented on #59
Ah, looks like you're not passing in an array on page load.

[2020-08-27 22:59] wppattonjr commented on #59
https://github.com/wppattonjr/dino-kennel

[2020-08-27 23:46] BaileyEDennis commented on #58
Code was right, but I had an issue that was caused by using a domString function to make all of my cards. Using a .foreach instead caused it to work! Lesson learned, no more domStrings. :p

[2020-08-28 03:55] JSmith989 opened #60 "only first dino module pops up when click info on dino card."
#### Your Name: Jordan Smith

#### Describe your issue: When you go to a dino card, you can click the info button and a module pops up that shows more about the dino and eventually will show the adventures. but any time you click on any dino info button, only the first dino in the array will show. It doesn't matter which dino you click, you only get info about the first dino in the array and not t

[2020-08-28 03:58] JSmith989 commented on #60
weird, that makeDinoCards code snippet didnt work. heres the snippet:

 `const makeDinoCards = (dino) => {
  let domString = `
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dino Info<

[2020-08-28 03:59] JSmith989 commented on #60
nvm cant get that code snippet to work, bummer.

[2020-08-28 04:27] drteresavasquez commented on #60
See if #50 is similar to your issue. Also, to format code so we can see it use 3 backtics before and after your code block.

Also, can you provide a link directly to the file on the branch you’re working on?

[2020-08-28 05:50] JSmith989 commented on #60
I think 50 is very similar. I kind of understand what I need to do. I tried a few things and they weren't really working yet but I'll keep trying after work tomorrow. https://github.com/JSmith989/dino-kennel/blob/removeButton/main.js

[2020-08-28 15:14] Jonathon22 opened #61 "Not Getting any response from my submit button on my modal to print card to dom"
### Your Name:
Jonathon Joyner

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If no, stop and search.

#### Describe your issue:
Cannot Get cards to print to dom from modal submit button does not

#### List any error messages that appear:
uncaught TypeError: Cannot read property 'image' of undefined
    at buildDino (dinoBuildDom.js:22)
    at init (main.js:7)

[2020-08-28 15:15] Jonathon22 commented on #61
[code]

[2020-08-28 16:32] drteresavasquez commented on #61
You have an id on the button called `submit-dino` but your function is looking for a `#submit-button`. I am not sure if that is the issue here, but it seems that you need to have the modal on the DOM first and then add the event listener on the button

[2020-08-28 16:33] drteresavasquez commented on #57
@michaelpfohl can you finish this ticket up by describing what we did to solve your issue?

[2020-08-28 16:35] drteresavasquez commented on #60
Yes, there are several tickets here that deal with targeting modals and click events that sound similar to your issue

[2020-08-28 16:35] drteresavasquez commented on #59
@jacobpaine @wppattonjr is this resolved?

[2020-08-28 18:14] wppattonjr commented on #59
Jacob helped me understand how my variables were working when importing and exporting.

[2020-08-28 19:23] Jonathon22 commented on #61
I thought I had it on the dom from calling it in the init

[2020-08-28 19:36] Jonathon22 commented on #61
Because the modal works on the page it just doesn't post the comment . When I put a log into the submit button I saw that the submit button was working as well.

[2020-08-28 19:42] drteresavasquez commented on #59
@wppattonjr can you share exactly what you learned here?

[2020-08-28 19:45] drteresavasquez commented on #61
Your error message is about an image. Did you clear that up first? Also, I’m not sure I follow what your issue is. Can you walk us through it? Also, it seems your link is to the branch which is almost there. We need the link to the files that you need help with on your branch as well.

[2020-08-28 20:01] Jonathon22 commented on #61
Yes I will as soon as I get home from work .

[2020-08-28 21:27] smudick opened #62 "Issue with getting dinos to delete - deleting objects/items from array using .splice()"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Sam Mudick

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If no, stop and search.
There are a few that are similar but none helped me resolve my problem
#### Describe your issue:
Whenever I try to delete a dino by pressing the delete button, only the first dino in the array will delete.

####

[2020-08-28 22:13] wppattonjr commented on #59
Kind of hard to explain. I never fully grasped having variables like taco as a fill in when writing and calling functions. This was causing me not to call the proper input when I was calling on functions that took something in. I had "data" as my taco in a function and then when I called the function on my main.js instead of putting in the array that needed to be passed in I was using "data" again

[2020-08-28 22:31] Jonathon22 commented on #61
This is the link to the files
link : https://github.com/Jonathon22/dino-kennel/tree/addDino/javascripts/components
.
I have the form showing but after inputing information it does not build the card on submit. My card that should be built is buildDino and the form is dinoModalFormDom

[2020-08-28 22:32] Jonathon22 commented on #61
And I am working on correcting the error message now.

[2020-08-28 22:35] Jonathon22 commented on #61
I fixed the error by adding a for loop to the domString.

[2020-08-28 23:18] Jonathon22 commented on #61
I am thinking the problem is my submitButton is not in the same module as the form, I am fixing it and going to test to see if that works.

[2020-08-28 23:44] wppattonjr opened #63 "When I call my add dino form all of the healthy dinos from my array disappear from the screen."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If no, stop and search.

#### Describe your issue: I have created a form and a function that is supposed to grab the data submitted via the form and print them to the Kennel along with all of the healthy dinos that are already in the kenn

[2020-08-29 00:43] AutumnFoto commented on #50
thanks so much for this!!

[2020-08-29 00:47] liz-barnes opened #64 "Receiving error when trying to target buttons"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If no, stop and search.
Bailey had a similar issue, but I do not understand the solution. Also I am receiving an error message.

#### Describe your issue:
I am attempting to remove an object from an array upon button click. It appears the button id is not being recognized. I do not receiv

[2020-08-29 00:52] drteresavasquez commented on #62
Did you try using `currentTarget`?

[2020-08-29 00:58] drteresavasquez commented on #64
Your link is to the repo and not the file. Please update. Also, your google searches are for splicing and not targeting the buttons. Do a search for that and let us know your findings.

[2020-08-29 00:59] drteresavasquez commented on #60
@JSmith989 did you find a resolution to this?

[2020-08-29 00:59] smudick commented on #62
I have not tried that. I'll look it up and see if I can make it work!

[2020-08-29 01:02] drteresavasquez commented on #62
That may help with getting the ID, but you are looking here specifically for the ID, but not splicing it to get a number:
`const target = e.target.parentNode.parentNode.id;`

The ID it returns is what?? What is the console.log of target?

I am thinking it is something from this? `id="dino-${index}"`

You cannot use a string in a splice method. Is that the case here?

[2020-08-29 01:05] drteresavasquez commented on #63
Give us some google links from the results you have found and we need at least 3. Also, can you reformat your code? It looks weird and I provided backtics for you to copy and paste your code between.

[2020-08-29 01:08] smudick commented on #62
Yes it's target logs as `dino-dino2` whether I use `currentTarget` or `target.`

So if I can't use a string, then am I really wanting to get a number that's associated with whatever specific dino object I am trying to delete? Like the index it is in the dinos array?

[2020-08-29 01:11] drteresavasquez commented on #62
Yes! That’s exactly what you need to do. You can use a string method to split the string on the `-` and you’ll get what back?

[2020-08-29 01:12] smudick commented on #62
THAT FIXED IT!!!! I changed the dino's id property to ${index} within the forEach loop. Whew, lesson learned.

[2020-08-29 01:13] liz-barnes commented on #64
Updated. I still don't understand. I feel like the code should be working. My guess is there is a disconnect of the button id between the build card function on line 132 and the remove dino function on line 193.

[2020-08-29 01:17] drteresavasquez commented on #62
Well, we would have to take it a step farther since your IDs are not numbers. You could change the ID on the cards to the index in the array and use the splice.

[2020-08-29 01:23] drteresavasquez commented on #64
In the link you sent, you’re calling the removeDino function with 2 parameters but when you call it, you’re not passing it anything.

[2020-08-29 01:24] drteresavasquez commented on #64
https://github.com/liz-barnes/dino-kennel/blob/d45c8c8f8f51d79491c45f5dbd1e232fc5d15f2e/main.js#L206

[2020-08-29 01:25] drteresavasquez commented on #64
Also, that is a click event so that has to be added once the buttons are on the DOM. You need to call that function when you are rendering the cards to the DOM.

[2020-08-29 01:29] drteresavasquez commented on #61
@Jonathon22 any news?

[2020-08-29 01:51] drteresavasquez commented on #63
@wppattonjr in this line, you are clearing the DOM then reprinting from the kennel array. Is that what you are trying to do? Or are you trying to append them? https://github.com/wppattonjr/dino-kennel/blob/0aa3ff6c5b6b74ed47b5214253f2f8bfd9937dc0/javascripts/components/dinoKennel.js#L102

[2020-08-29 02:09] JSmith989 commented on #60
@drteresavasquez yeah #50 helped me with the issue.

[2020-08-29 02:11] wppattonjr commented on #63
I am trying to append. Okay let me try that.

[2020-08-29 02:17] wppattonjr commented on #63
It is no longer clearing it out. Thank you! I removed the ``` $('#healthyDinos').html('');``` that was clearing the DOM and that looks like it solved this issue. Thank you.

[2020-08-29 02:29] liz-barnes commented on #64
Added dinos argument to my remove function in the init function. And I added removeDinos(array) to my build cards function. I am now receiving this error "Uncaught Error: Syntax error, unrecognized expression: #removeBtn-[object Object]"

[2020-08-29 03:13] Jonathon22 commented on #61
Currently dealing with debugging an error of
[code]

and an error of
[code]

I got rid of the initial error and began to move forward and ran into another issue

[2020-08-29 03:22] Jonathon22 commented on #61
I receive the second error on the click of submit.

[2020-08-29 12:00] drteresavasquez commented on #61
What does that error mean? Have you looked it up?

[2020-08-29 12:00] drteresavasquez commented on #64
What does that mean? Have you searched for that issue?

[2020-08-29 12:08] Jonathon22 commented on #61
Yes I looked it up on stackoverflow they said that it could be a syntax error or missing semicolon and then I went onto reddit where someone else was having the same problem and they stated it was because there function did not exist. The function that I have created has been called within the scope of the submit function and also called in my init function. And I know that it exist because I put

[2020-08-29 12:41] drteresavasquez commented on #61
It looks like `buildDino` has a parameter, but you aren't passing anything as an argument. https://github.com/Jonathon22/dino-kennel/blob/addDino/javascripts/components/dinoBuildDom.js#L6

[2020-08-29 13:25] liz-barnes commented on #64
Yes. This is what I found.. "The problem is that id needs to be a string but it is some other type of object." & "If id is not a string, but some other object for some reason, then "#" + id would result in a string like '#[object Object]' and this will be an invalid selector which would result in the given error message"

[2020-08-29 14:09] drteresavasquez commented on #64
Ok...so what does that mean you need to make sure you are passing it? A string perhaps? What are you passing it?

[2020-08-29 14:27] JSmith989 commented on #64
my code looks almost identical. I'm running into an issue with the delete button also. when I console logged (index) it gives me what I'm expecting it to. When I console log (array) it says 9 undefined. hmm... trying to figure out why

[2020-08-29 14:34] drteresavasquez commented on #64
Link to code or example, @JSmith989?

[2020-08-29 14:37] JSmith989 commented on #64
[code]

[2020-08-29 14:37] drteresavasquez commented on #64
Where is `array` defined?

[2020-08-29 14:38] JSmith989 commented on #64
whoops this is the top of it right here
[code]

[2020-08-29 14:38] willkotheimer opened #65 "Trouble getting adventures to display after using keys"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will Kotheimer

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If no, stop and search.

#### Describe your issue:

Literally my last issue...

I am having an issue where I am trying to merge together the two arrays, and I keep getting undefined for my adventures inside the dinosaur display tab

[2020-08-29 14:38] JSmith989 commented on #64
const deleteDino = (index, array) => {

[2020-08-29 14:38] drteresavasquez commented on #64
Paste in the whole thing or a link to it please.

[2020-08-29 14:40] JSmith989 commented on #64
https://github.com/JSmith989/dino-kennel/tree/dinoButtons

[2020-08-29 14:44] drteresavasquez commented on #65
Try using your debugger to step through the value of `adventure` I see you declare it and reassign it inside of the loop, but I wonder if the `findAdventureById` function is actually being set.

[2020-08-29 14:48] HunterJuneau opened #66 "Splice Removing Multiple Objects"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Hunter Juneau
#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If no, stop and search.

#### Describe your issue:
I am trying to use splice() to remove specific dinos from my array. I got the console.log of the array after the .splice() and it only contains the dinos in the same div other than t

[2020-08-29 14:49] drteresavasquez commented on #64
Here you are calling `dinoCards` without passing any arguments although the function is using one: https://github.com/JSmith989/dino-kennel/blob/0d37f813c16a51b5a2928eef78270ba41e3c9b18/main.js#L310

Is that impacting anything?

[2020-08-29 14:49] willkotheimer commented on #65
I would like to use Object.keys (if that's the correct way), but I'm open to any acceptable workarounds, as a last resort.

[2020-08-29 14:51] drteresavasquez commented on #65
You will have to determine that. What did you find when stepping through the code? Was it getting reassigned?

[2020-08-29 14:52] willkotheimer commented on #65
Still looking

[2020-08-29 14:52] JSmith989 commented on #64
when I call dinoCards(array) in my init function, for some reason all the dino cards disappear from the page.

[2020-08-29 14:55] drteresavasquez commented on #64
Do you have an array called `array`?

That may not be your issue, I just saw it an wondered how you were getting cards on the DOM to start if you are not passing it anything. Try commenting it out and see if the cards populate on the DOM with out you having to call that.

Second, your delete function looks ok, but if you are getting undefined, it means that you are not passing an array to that fun

[2020-08-29 14:55] willkotheimer commented on #65
its undefined

[2020-08-29 14:58] willkotheimer commented on #65
`d.id` is becomming `adventure1` but the `findAdventureById(d.id)` is `undefined`

[2020-08-29 14:58] ryanmcnair commented on #66
Try taking out  'element' in the parameter. Then in the template literal, you call back the id and index... $(`#element${index})

[2020-08-29 14:59] drteresavasquez commented on #65
Check in that method then and walk through that code to make sure it is actually returning what you expect.

[2020-08-29 14:59] willkotheimer commented on #65
Doing some console logs in that method to see what's happening.

[2020-08-29 15:01] brownabs commented on #66
Did that work?

[2020-08-29 15:05] smudick opened #67 "Modal is freezing my page on close"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:Sam Mudick

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If no, stop and search.

#### Describe your issue:
When I click on a dino image to display the info modal, it appears as normal, then if I close it and open up another info modal (doesn't matter if it's the same dino or not) when I clos

[2020-08-29 15:07] brownabs commented on #67
Have you tried hiding or removing the modal backdrop?

[2020-08-29 15:08] kaitvan commented on #67
Hey Sam. I had the same problem.

Are you clearing the html you built for the last modal when you build the new one?

I'm not sure if this will work for you, but it's probably because you aren't clearing the html that you built for the modal, so it's trying to build multiples.

[2020-08-29 15:08] drteresavasquez commented on #67
Check out these bootstrap methods: https://getbootstrap.com/docs/4.4/components/modal/#methods

Issues with Bootstrap, you can search their docs

[2020-08-29 15:10] jacobpaine commented on #65
Inside the adventureFunction:

Instead of doing findAdventureById and using .find and .includes. Try using a for...loop and working through it that way, then use the jQuery tools.

[2020-08-29 15:12] drteresavasquez commented on #67
Also, here is an example because it seems you are setting the bootstrap modal to show manually. Remember we did this in the 50 shades demo: https://github.com/nss-evening-cohort-13/jquery-and-array-methods-starter/blob/modularize/javascripts/components/cart.js#L103

[2020-08-29 15:15] smudick commented on #67
Thanks all! I got it resolved. Dr T., yes I am using the 'show' method BUT I was calling it outside of my if statement which is determining which modal will get displayed. To Kaitlyn and Abbey's point, I think that this was causing some sort of issue where the html wasn't clearing properly. I moved the `$("#dino-info-modal").modal("show");` inside of the if statement, and all is good.

[2020-08-29 15:16] willkotheimer commented on #65
I'll give myself a time limit, maybe 15 more minutes, then at 10:30, I think I'll go ahead and do that.

[2020-08-29 15:17] HunterJuneau commented on #66
Gave me this: jquery-3.5.1.slim.min.js:2 Uncaught Error: Syntax error, unrecognized expression: #element[object Object],[object Object],[object Object],[object Object]}

[2020-08-29 15:18] drteresavasquez commented on #66
Can we see the updated code?

[2020-08-29 15:20] HunterJuneau commented on #66
[code]

[2020-08-29 15:24] jacobpaine commented on #66
So your removeDino function looks like this on my local:

const removeDino = (element, array, index) => {
	$(`#${element.id}`).on("click", () => {
		array.splice(index, 1);
		console.log("array in remove:", array);
		distributeDinos(array);
	});
};

And it removes the dino, and leaves the others. So It looks like it works for me. Am I missing what the problem is?

[2020-08-29 15:28] HunterJuneau commented on #66
On my local if I remove a dino from the Kennel, it will remove it correctly but it then only prints the other dinos in the kennel.

[2020-08-29 15:30] jacobpaine commented on #66
Yep. What are you trying to do?

[2020-08-29 15:31] HunterJuneau commented on #66
Well, I still want all the other dinos to display. If I remove Rex, it does that correctly, but then doesn't print the dinos in the other divs (hospital and graveyard)

[2020-08-29 15:32] HunterJuneau commented on #66
To reiterate, if I remove a dino from any particular div, it then won't print dinos in other divs.

[2020-08-29 15:32] jacobpaine commented on #66
Gotcha. So after you fire remove, you should fire a function that adds them back I think.

[2020-08-29 15:33] HunterJuneau commented on #66
IRight now I'm running this:
[code]

[2020-08-29 15:34] kaitvan opened #68 "Modal shows details for that specific dino--until I click any other button"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If no, stop and search.

#### Describe your issue:
When you click on a dino's picture, the dino details modal pops up for that specific dino. It works just fine until you click any other button on the page (adventure, feed, etc.).

[2020-08-29 15:36] jacobpaine commented on #66
Yep that's it. So look at what you're passing to distributeDinos. You need to pass ALL the dinos, not just that array.

[2020-08-29 15:37] willkotheimer commented on #65
Got it! Will be posting what I did shortly!

[2020-08-29 15:40] willkotheimer commented on #65
I had no trouble getting into the function and console logging even inside an if statement I created when I expanded the function out to use brackets, but it wasn't returning my string, even though I knew it knew what the string was. I went ahead and took out the find function and just put it inside my other function like this:
[code]

[2020-08-29 15:41] willkotheimer commented on #65
It works and that value can be then pushed to the array.

[2020-08-29 15:44] brownabs commented on #61
Can you explain how you fixed your issue?

[2020-08-29 15:44] Jonathon22 commented on #61
Was able to get the dinos to show I was using an empty array for my dinos and calling a get function on that array and I needed an array of of objects and to call the get function on that

[2020-08-29 15:50] HunterJuneau commented on #66
Yup, that's it. I just made a new function that will only rebuild the array that was changed.

[2020-08-29 16:05] kaitvan commented on #68
Ok updated a couple things. All of my other buttons were targeting 'document' instead of the specific element on the page, so I changed this one to be the same. Now, I'm passing in the element as a selector (the second argument in the .on method). I'm not exactly sure why this had to be this way. Need to do some research and update.

[code]

I also changed my buildTableBody function -- not sure if

[2020-08-29 16:06] drteresavasquez commented on #68
You are a star, @kaitvan!

[2020-08-29 16:11] drteresavasquez commented on #65
That is awesome, @willkotheimer! Great job!

[2020-08-29 16:12] drteresavasquez commented on #64
@JSmith989 can you take a couple of minutes to tell us what you were able to figure out here for the benefit of those watching this issue?

[2020-08-29 16:21] JSmith989 commented on #64
In my delete button, I was calling dinoCards(array). But the array was undefined when I console logged it. So I had to take a look around and see why it is undefined and realized I'm not calling it in my init function. So in my init function I originally had dinoCards() and that wasn't letting the delete button know which array to pass. So I had to put dinoCards(dinoArray) in my init function so t

[2020-08-29 16:28] danapham opened #69 "Bootstrap Tab Navigation - Adding styles to tabbed content"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Dana Pham

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue:
I used the bootstrap tab navigation on my page. Now, when I am trying to style it, if I use flexbox and justify the content, the first tab looks correct, but the items in the second tab

[2020-08-29 16:36] drteresavasquez commented on #69
@danapham this is an interesting one! Let's jump into Hackery 2 to see if I can understand the issue more clearly.

[2020-08-29 17:13] danapham commented on #69
In order to fix this issue, create a new div inside of that particular tab's div and then display: flex.

HTML:
`<div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="kennelTab"
        role="tabpanel"
        aria-labelledby="kennel-tab"

        <div id="kennel"></div>
      </div>
      <div
        class="tab-pane fade"
        id="hospita

[2020-08-29 18:53] kaitvan opened #70 "Pull Request -- "There isn't anything to compare.""
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue:
When I go to create my final pull request and compare development to master, it says, "There isn't anything to compare. Master and development are entirely different commit histor

[2020-08-29 18:58] drteresavasquez commented on #70
Try running this locally on your development branch `git rebase -i origin/master `

[2020-08-30 18:47] drteresavasquez commented on #64
@liz-barnes
Here: https://github.com/liz-barnes/dino-kennel/blob/remove-dino/main.js#L201 you are using a callback, but you cannot pass an argument to a callback function. To do so, you need to create an anonymous function and then call the function. That fixes your remove element issue and everything works on the delete button after that.

NOTE: You have commented out code below it that does this

[2020-09-01 18:02] brownabs commented on #70
@kaitvan has this been resolved?

[2020-09-05 17:00] JSmith989 opened #71 "using dot notation but still getting undefined error"
#### Your Name: Jordan Smith

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue:
I'm using dot notation to adjust the score in my array of objects but I am getting an error.

#### List any error messages that appear:
buttons.js?bf90:5 Uncaught TypeError: Cannot read property 'score' of undefined
    at HTMLButtonEle

[2020-09-05 17:22] drteresavasquez commented on #71
You are not exporting `cardArray` https://github.com/JSmith989/Tamagotchi/blob/buttons/src/javascripts/data/cardData.js#L30

[2020-09-05 17:35] BaileyEDennis opened #72 "npm server stuck in loading loop"
#### Your Name: Bailey Dennis

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue: When I do the usual `npm i` then `npm start` I just get an infinitely loading page.

#### List any error messages that appear: No error messages, compiled successfully.

#### What have you googled? (Paste links to the things you have f

[2020-09-05 17:36] BaileyEDennis commented on #72
Addendum: I have tried using a new BASH shell and a fresh open of chrome as well.

[2020-09-05 17:50] drteresavasquez commented on #72
@BaileyEDennis is this on a new repo or one that you have copied from class and started from scratch?

[2020-09-05 17:54] BaileyEDennis commented on #72
this is on a new repo, I am finishing my webpack practice assignment up.

[2020-09-05 18:39] BaileyEDennis commented on #72
SOLVED: For windows users, if you ever forget to close down your server with ctrl+c and just close the terminal, sometimes it keeps the process open. I discovered this with Dr. T mentioning after running a few commands that windows had not actually killed the process, and the time stamp for the process was an older date than today. Here is the breakdown:
# The Breakdown
1) I close the terminal wit

[2020-09-06 02:39] liz-barnes opened #73 "Button click event only fires once"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Describe your issue:
The button event click is only firing once. It works on all buttons, but only the first button that is pressed.

#### List any error messages that appear:
Assignment to property of function parameter 'action'  no-param-reassign

#### What have you googled? (Paste

[2020-09-06 13:25] drteresavasquez commented on #73
This is very similar to the last ticket you created.

It seems from the docs, `.live()` has been depreciated and they recommend you use `.on()`. https://api.jquery.com/live/ so try that if you haven’t already.

Next, just like the last ticket, your buttons need unique identifiers OR you can use event bubbling to target them all like we did here: https://github.com/drteresavasquez/hogwarts/blob/mas

[2020-09-06 13:30] drteresavasquez commented on #71
Is this resolved?

[2020-09-06 16:45] liz-barnes commented on #73
Implementing the event bubbling worked for me! Also, I reverted to a previous click event I made and it worked as well.

Event bubbling
[code]

Previous click event
[code]

I think targeting '.button' is allowing the click event to fire only on the first button click.
[code]

[2020-09-06 16:47] drteresavasquez commented on #73
@liz-barnes so are you good on this?

[2020-09-06 16:48] liz-barnes commented on #73
However, I am still receiving this error "Assignment to property of function parameter 'action'  no-param-reassign". I am not sure how to solve it. I need to call 'action' in order to target the object and use dot notation.

[code]

[2020-09-06 16:54] ryanmcnair commented on #73
Hi Liz - I received that same error. If you change the name of "action.score" to the actual name of the array using dot notation, it will clear

[2020-09-06 17:02] liz-barnes commented on #73
Thanks Ryan! I tried that before and it didn't work with my code. I tried it again and it did clear the error, but now my buttons do not work : (

[2020-09-06 17:07] liz-barnes commented on #73
Here is my updated file https://github.com/liz-barnes/Tamagotchi/blob/buttons/src/javascripts/components/buttonEvents.js

[2020-09-06 17:08] ryanmcnair commented on #73
Maybe try adding "action.score" into its own variable at the top of the function. "const actionScore = action.score"

[2020-09-07 01:16] Jonathon22 opened #74 "Having trouble calling fuction to print to dom"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Jonathon Joyner
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue:
not receiving errors when calling the function to print out the title of data.

#### List any error messages that appear:
none

#### What have you googled? (Paste links to the thin

[2020-09-07 01:46] JSmith989 commented on #71
I had the code to a point where it was sort of working. But then I was having some other issues so I decided to re-structure a lot of my code. So currently it looks quite a bit different. I may try and come back to it at a later date and see if I can dry up my code a bit.

[2020-09-07 02:03] liz-barnes commented on #73
@drteresavasquez I am still having issues with my code.

[2020-09-07 04:20] drteresavasquez commented on #73
What else have you done since getting the buttons working? Since that is resolved (or last I saw in your response) this ticket is technically complete. If you’re having another issue, check the other tickets because I think we had one recently that is similar and if not, let’s open another ticket to keep things in order.

[2020-09-07 16:41] jacobpaine commented on #74
You have a typo trying to put it on the DOM.

[2020-09-08 16:24] wppattonjr opened #75 "Having an issue targeting buttons."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Describe your issue:
I wrote a function for my button when when I import that function to the page where it will be used it is giving me a not defined error on the line where I imported it and all of my cards

[2020-09-08 16:40] drteresavasquez commented on #75
Make sure this is not your issue: https://github.com/nss-evening-cohort-13/student-help/issues/71#issuecomment-687638624

[2020-09-08 16:41] drteresavasquez commented on #75
Without a code snippet or a link directly to the file that you are having issues with is difficult for us to triage. Please update your request.

[2020-09-08 16:49] wppattonjr commented on #75
Updated

[2020-09-08 21:00] jacobpaine commented on #75
What is the name of the function that isn't working?
It looks like you may have some naming confusion with import/export.

[2020-09-08 21:43] wppattonjr commented on #75
Initially I had created the petDinoButton function and then I put into another function that was going to hold all of my button functions but I could not get that to work. So now I just have petDinoButton and I have exported that and imported it to showDinos but when I do that all of my cards disappear. So for now I have commented it out.

[2020-09-08 22:19] brownabs commented on #75
Wendell, I think you are experiencing circular dependency where your showDinos and button modules are either directly or indirectly depend on each other to function properly. Does showDinos need to be called inside of the petDino button?

[2020-09-08 23:06] michaelpfohl commented on #57
Apologies, thought that this had been submitted but looks like it never went through.

What was being passed to localStorage was not actually being properly parsed so I made a function that sends the value of my dinos array to localStorage as a string that can thing be parsed back into an array of objects.

Currently localStorage is partially working, meaning that localStorage will remember the nu

[2020-09-09 01:46] kaitvan opened #76 "GitHub error: "There isn’t anything to compare... entirely different commit histories.""
#### Your Name: Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Describe your issue:
When we attempt to create a pull request, we get an error message stating that "there isn't anything to compare" because "the branches have entirely different commit histories."

#### List any error messages that appear:
"There isn't

[2020-09-09 02:14] liz-barnes opened #77 "Having trouble connecting the webpack template to our group project repo"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Describe your issue:

White arrow shows up on rest of teammates webpack template file

#### List any error messages that appear:
N/A

#### What have you googled? (Paste links to the things you have found from your google search - You must have at least 3)
1. https://stackoverflow.com/

[2020-09-09 02:21] drteresavasquez commented on #77
1. When you pushed up the webpack template, you were not INSIDE the directory so, when you set up your remote, it pushed the folder with the contents inside:

2. Create a clone of the repo
3. cd INTO the directory
4. change the origins
5. Push to master

These are the same steps we have worked with since the beginning. You are going to have to clean out your repo files as well.

INSIDE the team re

[2020-09-09 02:27] liz-barnes commented on #77
Run the reset code in master?

[2020-09-09 02:30] liz-barnes commented on #77
<img width="790" alt="Screen Shot 2020-09-08 at 9 29 26 PM" src="https://user-images.githubusercontent.com/65733608/92547438-830d9b80-f21a-11ea-86be-a3b98fc7c841.png">

ran into error! "error: failed to push some refs to 'https://github.com/nss-evening-cohort-13/chatty-alpha.git'"

[2020-09-09 02:37] drteresavasquez commented on #77
Once you reset it, did you add and commit?

[2020-09-09 02:42] kaitvan commented on #76
UPDATE! We actually think these commands were the ones we needed.

[code]

[2020-09-09 02:56] drteresavasquez commented on #76
I think the important thing here is to remember to allow one team member set up the repo and then every other team member pull the repo down after setup. If you pull it down before, you will have issues if there are some things that are pushed to master like the remote things. Great job on the response!

[2020-09-09 03:02] drteresavasquez commented on #77
This team cloned a repo inside of their team repo. Easy mistake to make. Just remember, when you change the remotes of a repo, it becomes connected to the repo you connected on github, so there is no need to pull down the repo you added the remote for.

Always remember to allow one team member to create the repo setup and then when all is done and on master, other teammates pull down.

@liz-barnes

[2020-09-09 13:14] drteresavasquez commented on #76
Here are a couple of other resources to help with the steps when having this issue:
- https://medium.com/@spences10/git-allow-unrelated-histories-a39a3814b981
- Video: https://youtu.be/ZcnuuP32SY4?t=619

[2020-09-09 13:15] drteresavasquez commented on #74
@Jonathon22 is this issue resolved?

[2020-09-09 14:00] Jonathon22 commented on #74
Yes it is sorry meant to close it out .

[2020-09-09 14:03] drteresavasquez commented on #74
Can you tell what happened and how you solved the issue?

[2020-09-09 14:05] Jonathon22 commented on #74
Jacob was right I just had a typo once fixing the typo everything showed up on the dom.

[2020-09-09 14:10] drteresavasquez commented on #74
Great! Thanks for letting us know!

[2020-09-10 14:49] AutumnFoto opened #78 "NPM start Issue"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:Autumn Fotopoulos

#### Have you searched the other issue tickets? If not, do that first.
- [ x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x ] Added label to specific project/assignment

[2020-09-10 15:33] drteresavasquez commented on #78
Did you `npm install` before starting the server?

[2020-09-10 15:34] drteresavasquez commented on #78
Also, do you have a styles directory with a main.scss file inside it?

[2020-09-11 00:21] drteresavasquez commented on #78
@AutumnFoto sounds like you were able to resolve this. Can you tell us what you did?

[2020-09-11 00:59] willkotheimer opened #79 "Error cannot npm install or npm start"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that you need

[2020-09-11 01:03] drteresavasquez commented on #79
@willkotheimer did you try `sudo npm I`?

[2020-09-11 01:06] drteresavasquez commented on #79
Also, you checked that you added the ticket to the correct project board and label but I don’t see those updates.

[2020-09-11 01:07] willkotheimer commented on #79
Yeah, I planned to put it on the project board  but I couldn't figure it out. There was no control for it on my screen under the project heading.

[2020-09-11 01:07] willkotheimer commented on #79
sudo npm i didn't work, I got the same error. :(

[2020-09-11 01:08] drteresavasquez commented on #79
Is anyone else on your team having the same issue?

[2020-09-11 01:09] willkotheimer commented on #79
Nobody is, and I deleted my repo and repulled the development branch. and got the same issue

[2020-09-11 01:10] willkotheimer commented on #79
So maybe its an environment issue. But it was working fine with tamagotchi just yesterday.

[2020-09-11 01:12] drteresavasquez commented on #79
Check your node version and make sure you’re in the root of the directory when you install. Other than that, I’m not sure what to say. Make sure you’re on master?

[2020-09-11 01:16] willkotheimer commented on #79
node -v
v13.14.0
I just checked and my tamagotchi still works, so something with the code.
Checking if its on root directory now.

[2020-09-11 01:18] willkotheimer commented on #79
Its on the root directory. About to just turn off my computer and turn it back on (??)

[2020-09-11 01:26] smudick opened #80 "Having an issue with radio buttons not deselecting when another one is clicked"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:Sam Mudick

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you

[2020-09-11 01:36] drteresavasquez commented on #80
I don’t see any code in the file you linked. The snippet is looking for whatever is checked and if it’s logging both, is it deselecting the first option after you select another?

[2020-09-11 01:46] smudick commented on #80
Oh my bad I hadn't pushed it. The code is there now. It is not deselecting the first option after selecting another now that I have this function. Originally, when it was just a radio button, it would only allow 1 to be selected at a time.

[2020-09-11 01:47] willkotheimer commented on #79
This is what ended up fixing it for me:
`sudo npm link webpack`
`npm install`
`npm start`
I found it here: `https://stackoverflow.com/questions/29492240/error-cannot-find-module-webpack`

[2020-09-11 01:58] drteresavasquez commented on #80
Try and find the difference in the hard coded vs. the dynamic radios and that may be your solution. It doesn’t look like you have separate radios rendering to the DOM. I’ll take a closer look tomorrow but make sure you inspect the element to ensure you are rendering separate radios.

[2020-09-12 00:16] wppattonjr commented on #75
I rearranged a lot of my code to better understand what I had going on. When I separated a couple of things out into modules differently I was able to see that if I passed in index, item and array and then ran into my petDinoButton function and then did showDinos(array) the button functioned properly. The first go around I was combining my makeDinoCard and showDinos (which is my print to DOM) in t

[2020-09-12 00:17] liz-barnes opened #81 "Not recognizing "moment();" from moment.js install"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you need help with
- [x] Adde

[2020-09-12 00:27] michaelpfohl commented on #81
Looks like you need to make sure that moment is imported into your module.

Check out the docs [here](https://momentjs.com/docs/) for the ES6 syntax on how to do that.

[2020-09-12 00:57] smudick commented on #80
I got the radio buttons to work normally by changing their name property to 'character' for all of them rather than having them be individually assigned. I am still having trouble with getting the info from the selected radio button and assigning it to the new message. Maybe that should be a separate ticket - not sure since the issue is still in the same function as before.

[2020-09-12 11:48] ryanmcnair commented on #80
Hi Sam - The section "Using querySelector" in the link below helped get this going.

 https://ultimatecourses.com/blog/get-value-checked-radio-buttons

[2020-09-12 13:48] jacobpaine commented on #80
Sam - Do your write up of the solution!

[2020-09-12 14:19] smudick commented on #80
Jacob was able to walk me through a bunch of the issues I was having and helped get my issue resolved.

First I needed to change the jquery from click to change for the radio buttons.

Then I needed to refactor my selectUser function and set it up with a ternary to check whether or not a user has been selected. If it hasn't then rather than returning undefined I want to it to return a standard use

[2020-09-12 18:39] brownabs opened #82 "Removing font-size style on body (.change event to large text)"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Abbey Brown

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that yo

[2020-09-12 19:20] willkotheimer opened #83 "Slice not deleting appropriately."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will Kotheimer

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that

[2020-09-12 21:24] drteresavasquez commented on #83
@willkotheimer try only using the parse on the string not both the id and the string. Read the docs for the arguments it accepts here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt

It’s expecting at least one argument and that it is a string. The second argument is the radix and that’s not what you are intending.

[2020-09-12 21:29] drteresavasquez commented on #82
Not sure I can track down the specific issue but check out this PR by team Beta and how they implement it. Let me know if this is helpful. https://github.com/nss-evening-cohort-13/chatty-beta/pull/43/files

[2020-09-12 21:31] drteresavasquez commented on #83
Also, review the readme on this repo for how to add the tags and add to the project board.

[2020-09-13 00:36] brownabs commented on #82
It looks like I'm doing something similar to that group. I'm just uncertain why the body background color/ text color would change and font size of a certain area, but not the entire body font size and I've tried the methods to remove any styles attached to the body before executing `document.body.classList.toggle('large--text');`
I couldn't figure it out, so currently have a work around of target

[2020-09-13 01:05] willkotheimer commented on #83
I fixed it!

So first thing. I didn't fix slice. I remembered something Jacob said about not deleting the array,  because we hardly ever actually delete values. So instead I created an array called delete:

Then in my delete function, I push to it.
  `Helpers.getDeleted().push(parseInt(id, 10));`

When I'm creating my messages I simply insert this in my forEach, which skips over any elements in th

[2020-09-13 12:36] drteresavasquez commented on #83
Can you explain the statement “we hardly ever delete values?” Also, while this may work for what you’re trying to do, this is not the simplest method for this problem. Also, can you explain to me why you’re passing 2 arguments to parseInt? What does the second argument signify and why are you using it?

[2020-09-13 13:17] drteresavasquez commented on #82
@brownabs Ah! Now I think I understand. You’ve uncovered that if you set the size on the body that it does not impact the headings because headings usually are a percentage of the HTML font size.

In your large-text style using sass, you can do a couple of things. You can specify the HTML tags and their sizes in a nest like:

[code]
 Or like you did, target each individual tag, but I think the fir

[2020-09-13 15:45] willkotheimer commented on #83
The second argument is called `radius`. I wsn't aware of it until I saw the linter throw an error. The error said `error  Missing radix parameter  radix` when I only passed in a string argument into parseInt... so it requires a second argument for integer so it can know what kind of number (i.e. base 8, base 10, etc)....

As for deleting values, I think it depends on the requirements, and I don't

[2020-09-13 16:00] drteresavasquez commented on #83
If you and your team agree on this fix it’s all good.

[2020-09-13 19:40] willkotheimer commented on #83
Here's the actual way I figured out to do it that works... I was using slice instead of splice ...  `DragonFlies.getDragonData().splice(parseInt(id, 10),1);` I'll let the team decide which we want to do. Thanks!

[2020-09-13 20:43] drteresavasquez commented on #83
Cool! Also, you can try to use `Number()` instead of parseInt as well.

[2020-09-14 00:25] wppattonjr opened #84 "Problem limiting messages to 20"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you ne

[2020-09-14 02:42] drteresavasquez commented on #84
What are the values when you log or debug the code?

[2020-09-14 02:45] drteresavasquez commented on #84
Also, check your formatting on the conditionals. You have return statements without curly braces and I’m wondering if the returns are either not being picked up by the linter or the function is just returning on first run.

[2020-09-14 03:55] drteresavasquez commented on #84
One more thing as I look at this, your method seems to be returning a new array, but in your main.js file you aren’t doing anything with what it returns. You’re just running the function. Maybe see what the function is returning by logging or debugging and then if that’s doing what it’s supposed to, you need to pass the array it returns to the DOM to display.

[2020-09-14 12:42] drteresavasquez commented on #81
The missing piece was the import statement as @michaelpfohl suggested.

[2020-09-15 00:36] kaitvan opened #85 "Bootstrap modal not working on click"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you ne

[2020-09-15 00:47] kaitvan commented on #85
Ok we added the scripts in the header and now it shows up. But this is still strange. Why did this work?

[2020-09-15 01:21] drteresavasquez commented on #85
It's a feature! LOL!

[2020-09-15 04:09] wppattonjr commented on #84
Trying to use the filter method instead of the logic I was using above.

[code]

When I console log this it returns an empty array. Not sure why. When I console log the array by itself it returns the proper array. I feel like this should be working but obviously I am missing something.

[2020-09-15 12:18] drteresavasquez commented on #84
I would recommend going back to the assignment on array methods and reviewing what the methods do.

[2020-09-15 12:33] drteresavasquez commented on #84
Also, is milestone 2 completed? I have not seen a PR for that from your team yet.

[2020-09-16 00:51] josephtmartin opened #86 "Images not loading when trying to deploy on netlify"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Joseph Martin

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that

[2020-09-16 22:02] drteresavasquez commented on #86
the deploy succeeded, right?

[2020-09-16 22:06] drteresavasquez commented on #86
Could be a couple if things 1. Your images are outside of your src directory, try moving them inside. If that doesn’t work, you may have to import the images. Look at the webpack template readme for more on that.

[2020-09-16 22:31] josephtmartin commented on #86
It deployed but when i went to the page the images wouldn't load. I'm moving them into the src directory now

[2020-09-16 22:38] drteresavasquez commented on #86
Also, check your network tab to see if any errors on the request then look at your sources tab to see if the images are there. When you don’t get console errors, your inspector tools can tell you what’s happening in your app. Make sure to check them all the time.

[2020-09-18 12:55] drteresavasquez commented on #86
@josephtmartin any luck?

[2020-09-18 18:06] drteresavasquez commented on #84
@wppattonjr i know this project is over but let us know if you’re still working on getting this functionality. If not, we can mark this one as not-resolved-closed.

[2020-09-18 18:18] wppattonjr commented on #84
I am going to revisit it but it can be closed for now @drteresavasquez .

[2020-09-18 22:06] ryanmcnair opened #87 "CONVERSATION: Understanding ERDs & relationships"
# Topic:
- [X] I have checked and this topic does not already exist

#### Your Name:
Ryan McNair

#### Start the conversation:
I contacted Dr T for clarification on an ERD I created about Baseball (screenshots below). I was linking what I thought was a few "many to many" entities together but I was incorrect. "Many to many" relationships need an entity between them if they are a true "many to many

[2020-09-18 23:04] drteresavasquez commented on #87
@ryanmcnair on your team to players, it is true that many teams have many players and only one player can play on one team. My comment was made to make you break down a many to many relationship a bit. Sorry I was not clear...slack and all lol.

So yes, a player can only be on one team, but there is more than one team, so I wanted you to think about join tables and how that relationship can be bet

[2020-09-18 23:05] drteresavasquez commented on #87
Here is the example I gave you that we will be working on this weekend for more context.
![ERD](https://user-images.githubusercontent.com/29741570/93652132-91597580-f9d9-11ea-912b-4f87b3e37f8b.png)

[2020-09-18 23:20] ryanmcnair commented on #87
@drteresavasquez Yes, I understand. I'll work on updating my model tonight and bring a new mock up to book club in the morning. THANK YOU!

[2020-09-18 23:32] drteresavasquez commented on #87
Sounds good! You will do more with this on backend. We only are using these so that you can visualize your data for FE consumption, but when you get to BE that is where you will get more deeply into relationships as you begin to build APIs!

[2020-09-19 00:47] josephtmartin commented on #87
This was very helpful! Thank you for sharing @ryanmcnair  and @drteresavasquez

[2020-09-19 01:37] josephtmartin commented on #86
@drteresavasquez Yes Chris beat me to the solution, here it is:

So we created an assets folder inside our src and moved our images in the assets folder then changed the file path in our userData file to:
[code]
and then added it to our array of users
[code]

[2020-09-19 01:48] drteresavasquez commented on #86
Perfect! I thought that would be the end game but there are many ways to achieve the same goal ☺️

[2020-09-19 16:09] ryanmcnair commented on #87
Here's the updated model we discussed in bookclub this morning:
![Screen Shot 2020-09-19 at 11 09 02 AM](https://user-images.githubusercontent.com/67588177/93671439-a16c6600-fa68-11ea-82df-fd0fd619cb1e.png)

[2020-09-19 23:45] chrislojacono opened #88 "Issue with the giphy API after deployment to netlify"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris LoJacono

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-09-19 23:49] drteresavasquez commented on #88
Is that an API key I see? 👀

[2020-09-19 23:50] drteresavasquez commented on #88
I’ll take a look in a bit. Could be a CORS issue.

[2020-09-19 23:53] chrislojacono commented on #88
oops! thank you!

[2020-09-20 01:21] drteresavasquez opened #89 "CONVERSATION: Code Updates to Saturday Code Along"
# Topic:
- [X] I have checked and this topic does not already exist

#### Your Name:
Dr. T

#### Start the conversation:
@nss-evening-cohort-13/students I made some changes to the code for the code along from today (Saturday) in preparation for Monday night. We will continue on this project through Firebase, so take a look at the PR linked below and ask any questions that you may have in the comme

[2020-09-20 01:26] drteresavasquez commented on #88
@chrislojacono did you try to make the call using postman? Maybe try that and see what the response is. If that comes back ok, check your netlify build logs.

Here are some screenshots of where you can find the logs. Under "Deploy" see if the deploy took and if not, paste the errors in the comments. If no errors, it is possible that we need to set env variables, which we will talk about when we ta

[2020-09-20 01:46] drteresavasquez commented on #85
@nss-evening-cohort-13/students and @kaitvan I was doing some research and instead of adding the bootstrap CDN directly in your index.html file, you can add `import 'bootstrap';` to your main.js file and that should give you access to all the bootstrap interactivity

[2020-09-21 19:57] chrislojacono commented on #88
So I ran it through Postman and it failed and I realized somehow the '//' had gotten taken out from in front of https:// lol and that fixed it! Thank you for the help! It was really useful actually using postman for this and seeing how it automatically separates the url with all the different parameters I had set and it was cool seeing all the data that came back from giphy! lots of cool stuff in

[2020-09-21 19:58] drteresavasquez commented on #88
@chrislojacono you are welcome! Look at you being all developery and shit!

[2020-09-21 19:59] chrislojacono commented on #88
![Screen Shot 2020-09-21 at 2 53 46 PM](https://user-images.githubusercontent.com/66916708/93815075-09fb4480-fc1b-11ea-954f-5d6772156ef7.png)

[2020-09-22 13:53] drteresavasquez opened #90 "CONVERSATION: Web Storage"
# Topic:
- [X] I have checked and this topic does not already exist

#### Your Name:
Dr. T

#### Start the conversation:
In the code along on 9/21, we added session storage to our user login to see if the user had already been checked against the database so if the user refreshes the page, the database would not be hit again.

- [Here](https://github.com/nss-evening-cohort-13/firebase-cows-2.0/blo

[2020-09-22 19:58] josephtmartin opened #91 "Errors when trying to run npm install firebase-tools -g"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Joseph Martin

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-09-22 20:02] drteresavasquez commented on #91
@josephtmartin this is not an install we are doing for class is it? For this error, try putting `sudo` in from of the command. Have you tried that?

[2020-09-22 20:04] josephtmartin commented on #91
it is for deploying through firebase for our personal bio site 3

[2020-09-22 20:05] drteresavasquez commented on #91
@josephtmartin ah ok! Let me know if the `sudo` command works. I am not going into deployment for FB and will be doing netlify instead. Those instructions may need to be different for our class. Let me know if you have any issues, but you can definitely use FB deploy if you would like!

[2020-09-22 20:08] josephtmartin commented on #91
@drteresavasquez sudo worked, I may mess with it but netlify is much easier. I thought we were going to start deploying through firebase but I already have everything ddeployed through netlify

[2020-09-22 20:09] drteresavasquez commented on #91
@josephtmartin dope! I agree on the ease, but FB deploy is pretty simple through the command line as well. It is a personal preference and no need to worry about setting up environmental variables for your keys if you do choose FB deploy, but I think the benefits of Netlify outweigh those of FB deploy.

[2020-09-22 20:10] josephtmartin commented on #91
@drteresavasquez Ok. Thanks!

[2020-09-23 19:14] ryanmcnair commented on #91
I had this issue as well. The firebase folder was not in the node_modules folder for my bio site. I tried npm i, npm install firebase-tool -g and when I ran $ sudo npm install firebase-tools -g, it didn't do anything for me. I ended up copying the firebase node from the cows exercise and dumping into my bio site node package via finder, then running "npm i -S firebase". It seems to be working prop

[2020-09-23 19:33] drteresavasquez commented on #91
@ryanmcnair are the tools working?

[2020-09-23 19:42] ryanmcnair commented on #91
@drteresavasquez Yes, it's working. The folder contains a file "package.json".

I set up everything and I added 'import firebase from 'firebase/app'' the linter told me that the path was invalid. When I looked in the node_modules, there was no Firebase folder.

[2020-09-23 19:44] drteresavasquez commented on #91
@ryanmcnair ok. there is a difference in both packages. Before you install, I would add the package to the json file and do the `npm i` command. The firebase-tools package has other features like deployment. I am not sure that those are available on just the firebase install, which is not all that important since we are deploying with Netlify, but if you wanted to learn to deploy on Firebase you w

[2020-09-23 19:53] ryanmcnair commented on #91
@drteresavasquez Yes, makes sense. I just did another `npm i` and it kept firebase (or reinstalled it).

My first step was doing an additional `npm i` (like 5 times) and it didn't add it.

[2020-09-23 19:57] drteresavasquez commented on #91
No problem! It probably wasn’t in the package. The template didn’t have it in there. But for clarity, `npm i firebase` is different from `npm i firebase-tools` they are 2 different packages.

[2020-09-24 23:45] kaitvan commented on #87
Hey team. Hunter and I have slightly different ERDs for the pinterest project and we wanted to start a discussion here, so we could get some feedback. We have the same entities (user, board, pin), but Hunter is using the interdependent table in between them and I'm not. What are these interdependent tables?! And when do we use them?!

![](https://files.slack.com/files-pri/T03F2SDTJ-F01BCLG7FDY/scr

[2020-09-25 00:04] ryanmcnair commented on #87
@kaitvan The table between establishes a relationship between 2 entities, "many to many". In the cows exercise, one farmer could own many cows but one cow could only be owned by one farmer. So a user can have many boards and those boards can contain many pins. User -> many boards -> board -> many pins -> pin.

[2020-09-25 00:15] ryanmcnair commented on #87
You'll use this info when you set up your json files. If you delete the user, you delete the boards and pins associated with that user. If you were to delete a board, you would also delete those pins associated with that board but not the user. If you delete a pin, you won't delete the entire board or the user.

[2020-09-25 00:17] drteresavasquez commented on #87
This is a great question especially as you think about your firebase structure. What would be easier using Firebase as the DB you are using? I think it is easy to think about the complexity of using the intermediary tables but will that be easily used in firebase? It is possible. Each of you should make a data decision and go with it, but I would definitely hit postman to make sure you are getting

[2020-09-25 19:58] drteresavasquez commented on #87
@kaitvan and @HunterJuneau what did you all decide to go with?

[2020-09-28 13:06] drteresavasquez commented on #91
Anyone seeing this, I said above we would not do firebase deploy, but over the weekend I compared the FB deploy with the Netlify deploy and Netlify takes some setup and some codebase changes, so for simplicity, I am going to go through the Firebase deploy next Monday and anything using FB keys, will use the FB deploy because it’s a little easier and keeps you from having to do any admin stuff for

[2020-10-05 19:05] chrislojacono opened #92 "TIL: Deploying Sites with OAuth/Firebase"
# TOPIC:
I had an issue logging in to my Netlify deployed  Pinterest site
## Your name: Chris LoJacono

## Share what you learned with links if possible

So I kept getting an error that my website didn't have authorization to log in once I deployed to Netlify. After a little google searching and looking through firebase, apparently you need to give permission to any site you deploy to within the s

[2020-10-05 19:25] drteresavasquez commented on #92
Great! Did you figure out how to deploy without exposing your keys?

[2020-10-09 02:44] BaileyEDennis opened #93 "Firebase Deploy Login Issue [Windows 10]"
#### Your Name: Bailey Dennis

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you need help with
- [x] Added to `Student-Help-Tracki

[2020-10-09 03:53] drteresavasquez commented on #93
Are you logged into your Firebase account in a web browser before running the Firebase login command?

[2020-10-09 03:58] BaileyEDennis commented on #93
Yes I am!

[2020-10-09 11:57] bandstrar commented on #93
I had the exact same issue. Try `Sudo PATH="$PATH:/mnt/c/Windows/System32" firebase login`. That ended up working for me.

[2020-10-09 13:27] drteresavasquez commented on #93
@bandstrar do you have a link to where you found that resolution?

[2020-10-09 13:30] bandstrar commented on #93
[https://github.com/firebase/firebase-tools/issues/1546](url)

[2020-10-09 13:36] drteresavasquez commented on #93
With that fix are you now able to run the Firebase command in the command line?

[2020-10-09 13:41] bandstrar commented on #93
Yes, after I log into Firebase with that fix I'm able to do all of the other Firebase commands normally (with Sudo)

[2020-10-10 14:04] BaileyEDennis commented on #93
Yup, `Sudo PATH="$PATH:/mnt/c/Windows/System32" firebase login` worked!

[2020-10-11 16:18] willkotheimer opened #94 "Issue deploying with firebase, even though it started the deploy"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will Kotheimer

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that

[2020-10-11 16:34] drteresavasquez commented on #94
Does your package json have Firebase? If not, you need to run `npm i firebase-tools` in your project first. Then try running the `npm run deploy` command.

Where is the link to your repo?

[2020-10-11 16:42] drteresavasquez commented on #94
Please also see: https://github.com/nss-evening-cohort-13/student-help/issues/91

[2020-10-11 16:54] willkotheimer commented on #94
Thanks, your solution worked for me!

[2020-10-11 17:12] drteresavasquez commented on #94
Great! Please give us a 5 star rating LOL!

[2020-10-13 01:00] chris-calhoun opened #95 "npm i error: Cannot find module 'semver'"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Chris Calhoun

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-10-13 01:02] drteresavasquez commented on #95
@chris-calhoun try deleting your node modules directory and running the `npm i` command again.

[2020-10-13 01:23] liz-barnes opened #96 "Working on auth vs unauth user view. Once logged in, I have to refresh to see the auth user view."
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `Student-Help-Tracking` project board

#### Descr

[2020-10-13 01:43] drteresavasquez commented on #95
https://askubuntu.com/questions/1152570/npm-cant-find-module-semver-error-in-ubuntu-19-04
@chris-calhoun can you share what happened before and how we solved your issue?

[2020-10-13 01:45] drteresavasquez commented on #96
Hmm. you are looking at some DOM management where the page needs to refresh no?

[2020-10-13 01:50] chris-calhoun commented on #95
The last thing I did before everything broke was `npm install firebase-tools -g`. But I ran it in my project directory instead of at the root. In order to fix this, I ran the following lines of code from https://askubuntu.com/questions/1152570/npm-cant-find-module-semver-error-in-ubuntu-19-04:

[code]

Then I redownloaded node from https://nodejs.org/en/. When installing, it asked if I wanted to r

[2020-10-13 01:52] liz-barnes commented on #96
Yes, I believe so. I have tried running window.location.reload() but it stops the function from running

[2020-10-13 03:14] drteresavasquez commented on #96
So, we talked about this a little in the breakout room, so what we need to happen is a check for if the user is logged in. You can do a couple things: 1. Use local/session storage after a user authenticates or 2. Check if they are authenticated when the view loads using Firebase auth.

Of course, there are always other ways, but based on what you have written either of those ways will help you mov

[2020-10-13 12:50] drteresavasquez opened #97 "CONVERSATION: FB User Auth & Auth Checks"
# Topic:
- [X] I have checked and this topic does not already exist

#### Your Name:
Dr. T

#### Start the conversation:
Is there a difference between using FB auth and saving users to the database? If so, how are you using auth vs. users you save to your database to know if a user is logged and the DOM elements they see?

Share your insight with the class.

@nss-evening-cohort-13/students

Couple

[2020-10-14 18:30] josephtmartin opened #98 "Not removing from the DOM what has been deleted from firebase"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Joseph Martin

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-10-14 18:37] kaitvan commented on #98
What is the name of your branch?

[2020-10-14 18:38] josephtmartin commented on #98
jm-delete

[2020-10-14 18:58] kaitvan commented on #98
Missing a closing quotation after the ID on the domstring line. My bad. 🙃

[2020-10-14 19:01] josephtmartin commented on #98
alright well since this isnt a real problem then i'll close the issue

[2020-10-15 03:07] willkotheimer opened #99 "Unauthenticated View allows update/delete buttons when dashboard link clicked"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [XX ] Added label to specific project/assignment that you nee

[2020-10-15 03:30] drteresavasquez commented on #99
Are both the views the same? If not, they should be. It’s seems you have 2 different views.

[2020-10-15 03:36] willkotheimer commented on #99
Fixed it! We need separate classes on on navbar for login and logout. Yes we have different views for both. But one view doesn't use the logged out version of the card!

About to push a PR for milestone 2.

[2020-10-15 16:38] drteresavasquez commented on #99
So to show for others, you’ve decided to go back to a single view and check auth status for showing buttons, right?

[2020-10-15 17:10] willkotheimer commented on #99
Yes, we will revert back to before we had two views. And then check firebase auth to check for user login for the buttons.

[2020-10-15 17:41] ryanmcnair commented on #97
We added functions across our site that check to see if a user is logged in and if they are logged in, then they see the additional Add/Delete/Update features. Similar to the "checkLoginStatus" function within authData.

[code]

[2020-10-15 17:51] drteresavasquez commented on #97
@ryanmcnair nice! Did you try anything before you settled on that? This is a good solution.

[2020-10-15 17:56] ryanmcnair commented on #97
Haha, yes. Our other 2 ideas were to:
1) create 2 different sites, one for logged in users and another for not logged in users. But that got tossed out real quick
2) create 2 different cardMaker functions one for logged in and one for not logged in.

I think this is the smoothest way and it's easy to follow in the code.

[2020-10-15 18:04] drteresavasquez commented on #97
Very interesting! Thank you for sharing your team’s approach!

[2020-10-15 21:02] chrislojacono commented on #97
We decided to check authentication every time the view is changed. I don't think it was the smoothest way because we had to make 2 cards for ever page, but it works! All of our logic is done within each view, so you click the view and if has logic saying if the user is logged in print a certain card with buttons, if they aren't print a card without!

[code]

[2020-10-15 21:10] drteresavasquez commented on #97
@chrislojacono interesting. It works, but seems like double work, no? NOTE: not a critical evaluation 😊. Just trying to learn why teams are taking the approaches they are. Did you all do another way before deciding on this approach?

[2020-10-15 21:15] chrislojacono commented on #97
I like @ryanmcnair 's method a lot better than mine! I tried adding all the buttons to the card once someone logged in, but hit multiple snags with changing pages and like you saw we where only checking authentication on page load which was our major issue.

[2020-10-15 21:18] drteresavasquez commented on #97
Did you all see in the links I posted the `firebase.auth().currentUser` method? It’s pretty slick in seeing if a user is logged in as well rather than checking if the auth state has changed.

[2020-10-15 21:19] chrislojacono commented on #97
I did not! Ill check that out!

[2020-10-15 21:20] drteresavasquez commented on #97
Also, local storage can be helpful too. Let’s see what the other teams are doing. It feels like Christmas! 🎉🎉

[2020-10-16 01:41] BaileyEDennis commented on #97
So the way I did it was that I simply got the user data, and passed the uid through my function calls. Then, right where I call my, in this case, airport cards, I put a simple if statement:

[code]
This saves me energy from having to write two sets of cards or have a complex switch statement. It also means I don't have to continuously check login status every time I invoke a function call, because

[2020-10-16 02:04] drteresavasquez commented on #97
@BaileyEDennis NICE! Did you try anything else or was this in a first shot attempt? Without commas of course! LOL!

[2020-10-16 02:39] BaileyEDennis commented on #97
Yes! I originally sent the user data one step further into the card itself, this caused a lot of wonky issues because of the for-each loop. I had to pull it back one level because card #0 was showing 6 buttons, card #1 5 buttons, and so on through each iteration. (I have 7 airports you see). But we had kicked around the idea of splitting the website in 2, and decided that was lunacy. So the origin

[2020-10-16 02:44] drteresavasquez commented on #97
This is great! It is so mind blowing to see how you all solved the issue in different ways. Love it!

[2020-10-21 00:23] smudick opened #100 "Return issues within a promise"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Sam Mudick

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you

[2020-10-21 23:12] smudick commented on #100
Resolved the issue by refactoring the code to call the response from the promise in the chaosView, rather than calling the function in the template literal:

[code]

[2020-10-26 16:37] chrislojacono opened #101 "Promise.all(): Getting Totals For The Whole Event"
#### Your Name: Chris LoJacono

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you need help with
- [x] Added to `Student-Help-Track

[2020-10-26 17:17] drteresavasquez commented on #101
Have you tried promise.all()? It looks like you’re needing to get the data back and then do something with it, correct?

[2020-10-26 18:06] chrislojacono commented on #101
I've tried it in a couple different places, but It doesn't seem to work. I tried doing it on my getEventTotalPrices function but Im getting an empty array still. Do I need to separate each section?

[2020-10-26 18:09] chrislojacono commented on #101
Im getting this error
[code]
When I do the function like this
[code]

[2020-10-26 18:15] chrislojacono commented on #101
Ok so Im getting the proper array back with this
[code]
but I'm still getting the error that its trying to reduce on an empty array
[code]
I also tried reducing before the resolve in my getEventTotalPrices and I got the same error

[2020-10-26 19:33] chrislojacono commented on #101
Also Im thinking if I can just return a number value with these functions it will make our lives easier across the board and I just need another pair of eyes. I've changed the scope of the variable sooo many different ways and tried having the return and not.
[code]
I split these all up and did promise.all on all of the identical functions but my other ones are using a .push to an empty array and

[2020-10-26 21:16] chrislojacono commented on #101
Ok so I think I misunderstood Pomise.all at first and kinda forgot I was making get requests within my other requests so I got it to work with the Promise.all
[code]

[2020-10-27 00:53] drteresavasquez opened #102 "CONVERSATION: Promise.all() Example"
# Topic:
- [X] I have checked and this topic does not already exist

#### Your Name:
Dr. T

#### Start the conversation:
Here is an example of `Promise.all()` using a function we created in farmers cows. A lot of you are struggling with promise responses and nesting. Here is something that you can see side by side for reference

**IMPORTANT distinction:** You will get a response from `Promise.all(

[2020-10-27 18:00] esrduke95 opened #103 "Firebase authentication Issue with data"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Summer Duke

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that yo

[2020-10-27 18:34] drteresavasquez commented on #103
1st check your URL. A 404 is not a rejection from the API. Next, can you share your Firebase rules here?

[2020-10-27 19:34] esrduke95 commented on #103
![Screenshot_20201027-143347.png](https://user-images.githubusercontent.com/60371978/97353010-7d6b2400-1861-11eb-8e1f-940572b678a3.png)

(Sorry for mobile, I'm currently at work).

[2020-10-27 19:41] drteresavasquez commented on #103
No worries. When you call the function, are you passing the `Uid` and not the firebase key? Also, I need to see where you are doing the calling of the function and how you are getting the `Uid` We can look more closely tonight in class as well.

[2020-10-27 19:50] esrduke95 commented on #103
![Screenshot_20201027-144708.png](https://user-images.githubusercontent.com/60371978/97354565-9379e400-1863-11eb-92e1-4300a945f923.png)

Here is more context for that function. I think I deleted the code where I was trying to call the function because the promise would not resolve or kept being called not a function/undefined. I will definitely show more during class tonight!

[2020-10-27 19:58] drteresavasquez commented on #103
OK. I saw the function in your code link, so I need to see how you are calling it. It is always advisable to make sure that the entire URL works via postman and then copying that into the call to make sure there are no issues with the URL.

[2020-10-28 00:15] drteresavasquez commented on #103
@esrduke95 please post the resolution here ASAP. Thanks!

[2020-10-28 01:37] drteresavasquez commented on #102
@chrislojacono gimme a code sample! Please. I wanna see!!

[2020-10-28 01:51] chrislojacono commented on #102
So this is totaling my prices
[code]
And this is whats happening on the delete click. The delete request is a promise too
[code]

[2020-10-28 02:22] jacobpaine commented on #102
Look at that reduce! 🎉

[2020-10-28 02:46] ryanmcnair opened #104 "DOM selection & Race condition issue"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Ryan McNair

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that yo

[2020-10-28 02:49] drteresavasquez commented on #102
![tenor](https://user-images.githubusercontent.com/29741570/97384699-39e2db00-189e-11eb-99e8-d4b037908e03.gif)

[2020-10-28 02:53] drteresavasquez commented on #104
@ryanmcnair can you share the code with the data-attribute?

[2020-10-28 02:59] ryanmcnair commented on #104
This is the code snippet that allowed me to target the node I was trying to get. Adding "data-staff" stood in as a secondary ID. I created a variable to call it back within the API call and it worked out for me.

You can use "data-" whatever using this. It needs to have that "whatever" listed as the return at the end. This is the documentation: https://developer.mozilla.org/en-US/docs/Learn/HTML/H

[2020-10-29 23:57] Jonathon22 opened #105 "Adding the second staff on the dino"
#### Your Name:
(Group 3)
Jonathon Joyner, Ryan McNair ,Bailey Dennis, and Sam Mudick

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment tha

[2020-10-30 00:00] josephtmartin opened #106 "Getting data from Firebase to populate an AmChart graph"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Joseph Martin

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ ] Added label to specific project/assignment that

[2020-10-30 00:06] josephtmartin opened #107 "Getting data from firebase to populate an AmChart graph"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Joseph Martin

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ ] Added label to specific project/assignment that

[2020-10-30 00:08] #106 closed

[2020-10-30 00:29] Jonathon22 commented on #105
Refactored code got it to work !

[2020-10-30 01:00] jacobpaine commented on #107
What do your logs say?

[2020-10-30 01:01] josephtmartin commented on #107
[code]
We may have found a solution. I'll update ya in a sec

[2020-10-30 01:51] josephtmartin commented on #107
Got it working!
[code]
So inside the makeChart function we added a promise.all() to the getDataArray function
and set a timeout to display the data for the chart

[2020-10-30 01:58] josephtmartin commented on #107
[code]
We set the functions equal to variables

[2020-10-31 13:57] willkotheimer opened #108 "CONVERSATION: Firebase: Insecure Rules Email"
# Topic:
- [X ] I have checked and this topic does not already exist

#### Your Name:

#### Start the conversation:
I keep getting emails about insecure rules for Firebase. I'm certain I didn't set up any security from the outset. It says it will delete my portfolio database today if I don't change them. I googled and found this link, but not sure which I should use to fix. Posting because I'm sur

[2020-11-01 02:04] willkotheimer commented on #108
This is my first attempt at hardening my portfolio rules. It took it, but I have no idea if google will allow this as a long term solution. It also doesn't work for the other apps that require more access. (I'll try to update when I figure that out.)
[code]

[2020-11-02 22:57] drteresavasquez opened #109 "IN CLASS: Prep for React"
Tonight we are starting on React State and Props.

Please complete the following at the start of class. We will begin coding at 6:30.

## Setup
- Create a directory in `src` called `helpers/data`
- inside the new `data` directory, create a file named `goatData.js`
- in `goatData.js`, use the `new Promise` syntax to create a function named `getGoats` that makes and axios **GET** request that resolv

[2020-11-02 23:40] wppattonjr commented on #109
Should the end result be a blank red screen once we finish with this and do npm start?

[2020-11-02 23:42] drteresavasquez commented on #109
@wppattonjr you should have set up your react using the walk throughs to get the repos up, so the screen should look like this:
![Screen Shot 2020-11-02 at 5 41 46 PM](https://user-images.githubusercontent.com/29741570/97931188-b3f9e080-1d32-11eb-96db-0a72e6f828a0.png)

[2020-11-02 23:43] drteresavasquez commented on #109
The last step is here: https://github.com/nss-nightclass-projects/Night-Class-Resources/blob/master/book-4-react/chapters/react-setup-steps/react-classes.md

[2020-11-02 23:45] wppattonjr commented on #109
I did and I had that button. So are we not supposed change the file structure and names of files according to the image in the ticket?

[2020-11-02 23:45] chrislojacono commented on #109
Should we just cut out the import of App.scss since it has moved to the styles folder?

[2020-11-02 23:46] drteresavasquez commented on #109
You can. OR you can update the route of the import ;-)

[2020-11-02 23:46] drteresavasquez commented on #109
When you run the `npm start` command and files are not in the right place, you will get errors, fix them please

[2020-11-02 23:47] chrislojacono commented on #109
Sweet, got it! thanks!

[2020-11-02 23:50] drteresavasquez commented on #109
@wppattonjr you are changing the names of the files, but not the content. `src/App/index.js` should look like this:
[code]

[2020-11-02 23:54] JSmith989 commented on #109
I'm curious about this error. I've tried looking it up but nothing really explains what it is or how to solve it
[https://user-images.githubusercontent.com/67443077/97931934-5c5c7480-1d34-11eb-97c8-ab95c697bf92.png](url)

[2020-11-02 23:55] drteresavasquez commented on #109
@JSmith989 your image is not showing

[2020-11-02 23:57] drteresavasquez commented on #109
@nss-evening-cohort-13/students ticket instructions are updated for clarity.

[2020-11-02 23:57] wppattonjr commented on #109
Got it. Thanks!

[2020-11-02 23:57] JSmith989 commented on #109
oh whoops.  my code looks like this in index.js at the top
[code]
but I have red squiggly under import and it says "Parsing error: The keyword 'import' is reserved eslint"
I tried deleting it and re writing it but I cant get the error to go away

[2020-11-03 00:00] drteresavasquez commented on #109
@JSmith989 In VSCode in the bottom right hand corner, make sure that ESlint has a check mark next to it like the image here:

<img width="239" alt="Screen Shot 2020-11-02 at 5 58 36 PM" src="https://user-images.githubusercontent.com/29741570/97932284-397e9000-1d35-11eb-86eb-51f833ca39a4.png">

If it has a red circle with a line, click it and it will ask you if you want to allow ESlint for the proj

[2020-11-03 00:01] JSmith989 commented on #109
It has a check next to it

[2020-11-03 00:02] drteresavasquez commented on #109
@JSmith989 did you do all your installs and make your `.eslintrc` file?

[2020-11-03 00:05] JSmith989 commented on #109
I did, I'm double checking everything to make sure though

[2020-11-03 00:06] Jonathon22 commented on #109
Im getting this error when. trying to npm start its not the same as the error for node sass
[code]

[2020-11-03 00:07] drteresavasquez commented on #109
Are these errors new? You all should have set these repos up prior to tonight

[2020-11-03 00:18] liz-barnes commented on #109
Is anyone else getting this error "./src/index.js
Module not found: Can't resolve './App/App' in '/Users/liz/workspace/react/inclass/goats/goats/src'"? I'm not sure how to update the file path correctly.

[2020-11-03 00:20] brownabs commented on #109
Because you've changed your APP.js file to index.js, correct? so your file paths need to reflect that change

[2020-11-03 00:20] wppattonjr commented on #109
@liz-barnes  I think you need to update your import for './App/App'

[2020-11-03 00:22] liz-barnes commented on #109
I changed it to './App/index' and received this error "./src/index.js
Attempted import error: './App/index' does not contain a default export (imported as 'App')."

[2020-11-03 00:24] brownabs commented on #109
Your App directory still needs to be in the src directory

[2020-11-03 00:28] drteresavasquez commented on #109
The code for what should be in index.js is on this ticket...

[2020-11-03 00:33] danapham commented on #109
@liz-barnes I put `@import 'app';` in the index.scss file and it's working for me

[2020-11-03 01:56] michaelpfohl commented on #109
You can add this to your .eslintrc file under rules to remove the import rule error when using brackets:
```"import/no-anonymous-default-export": "off"```

[2020-11-03 22:11] Jonathon22 opened #110 "default.getGoats is not a function ERROR from Goats in class project"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Jonathon Joyner

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment tha

[2020-11-03 22:18] drteresavasquez commented on #110
@Jonathon22 you may be getting this because I updated the API. Change the function in your `goatData.js` to this:

[code]

[2020-11-03 22:27] Jonathon22 commented on #110
I changed it and it still has the same errors.

[2020-11-03 22:28] drteresavasquez opened #111 "IN CLASS: Project"
## Create an application that reads from the DB using React

Let's do the Joke Generator using React: https://github.com/nss-evening-cohort-13/course-assessment

This time, I want you to create 3 components:
- App
- Setup
- Punchline

1. Create a `getJokes` module that makes an axios call to the API to get a random joke
1. Make a call in App that gets the joke object from the API endpoint in `comp

[2020-11-03 22:29] drteresavasquez commented on #110
What have you googled?

[2020-11-03 22:32] drteresavasquez commented on #110
Also, here is a link to the code: https://github.com/nss-evening-cohort-13/homework/tree/master/week18/code/goats-react

I had the same error and changing out the request did it. Try starting and stopping your server to see if that helps as well.

[2020-11-03 22:37] Jonathon22 commented on #110
It worked ! finally i see my goats thank you again Dr.T

[2020-11-03 22:45] drteresavasquez commented on #110
Did you have to do something different to get it going? @Jonathon22

[2020-11-03 22:57] Jonathon22 commented on #110
I started and stopped the server and I also replaced the code i had in the goatcorral folder with yours.

[2020-11-04 02:08] drteresavasquez commented on #111
When thinking about prop passing, think about how we [created functions with default parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters) like this:

[code]

When we called `goats(array)` we were passing it the value that we wanted. We could also call it like `getGoats(taco = array)`

This is similar to props instead, we call it like this `<Go

[2020-11-04 15:22] drteresavasquez commented on #111
@nss-evening-cohort-13/students here is a planning video I created. https://www.educreations.com/lesson/view/react-joke-generator-plan/56887593/?s=Rv8yI5&ref=app

[2020-11-11 03:52] drteresavasquez opened #112 "IN CLASS: React-Pinterest Project"
[Here is the overview ](https://www.educreations.com/lesson/view/react-pinterest-planning/56971203/?s=Ysi5qH&ref=app)of what we decided as a class to complete for our React Pinterest project

Let's use this thread for questions and discussions related to this project

[2020-11-11 03:56] drteresavasquez commented on #112
@nss-evening-cohort-13/students here also is a tool that can help you create mock data! There is even a firebase export setting! https://www.mockaroo.com/

![Screen Shot 2020-11-10 at 9 55 05 PM](https://user-images.githubusercontent.com/29741570/98763364-7d117380-239f-11eb-8969-899a13048901.png)
![Screen Shot 2020-11-10 at 9 55 14 PM](https://user-images.githubusercontent.com/29741570/98763370-7f

[2020-11-11 03:59] drteresavasquez opened #113 "CONVERSATION: Deploy your Firebase/React App on Netlify"
This is the thread for any questions about deploying on Netlify using Firebase and React. Here is a Readme I created with the details and steps:

https://github.com/nss-evening-cohort-13/deploy-react-app-with-netlify/blob/main/README.md

[2020-11-11 18:22] willkotheimer commented on #108
I might've found the answer. I will not know for sure until the emails stop arriving. But here it is:
Replace above two lines with this:
[code]

[2020-11-11 18:27] willkotheimer commented on #108
Here's also a way to have only the content owner be able to change his/her own stuff:
[code]
(Assuming "some_path" is the URL name you want to lock down.)
src: https://firebase.google.com/docs/rules/basics#realtime-database_1

[2020-11-12 22:55] wppattonjr opened #114 "Axios API Patch Payload structure issues"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you ne

[2020-11-12 22:57] drteresavasquez commented on #114
Look at your patch...what is the payload supposed to be?

[2020-11-12 23:36] wppattonjr commented on #114
the student object where isDead key value is true

[2020-11-12 23:38] drteresavasquez commented on #114
Here is a better example of using a patch. Also, take a look at how you structured the payload in your other projects as well as in the goats we did in class:
- https://www.codota.com/code/javascript/functions/axios/patch

[2020-11-12 23:44] drteresavasquez commented on #114
Here is the example from goats: https://github.com/nss-evening-cohort-13/homework/blob/master/week18/code/goats-react/src/helpers/data/goatData.js#L22

[2020-11-12 23:46] drteresavasquez commented on #114
Also, when you make this request are there any errors in the console?

[2020-11-13 00:32] wppattonjr commented on #114
Here is what I have right now

[code]

[2020-11-13 01:43] wppattonjr commented on #114
Teamwork makes the dream work. With some brain power from Joseph and Dana were were able to figure it out.

[2020-11-13 01:49] drteresavasquez commented on #114
@wppattonjr can you please share what the final result was and the solution?

[2020-11-13 01:52] drteresavasquez commented on #108
Here is an informative video on this concept as well: https://www.youtube.com/watch?v=qLrDWBKTUZo

[2020-11-13 01:54] wppattonjr commented on #114
Worked with the followTheLight function to patch "true" to idDead.

[code]

[2020-11-13 01:55] drteresavasquez commented on #114
@wppattonjr awesome, so what type of payload is the patch request expecting?

[2020-11-13 01:57] wppattonjr commented on #114
It is expecting an object.

[2020-11-13 01:57] drteresavasquez commented on #114
AWESOME! Thank you for your service ;-)

[2020-11-16 13:38] drteresavasquez commented on #112
Here is a list of the things we need to do in order to complete the React-Pinterest project: https://github.com/nss-evening-cohort-13/react-pinterest/blob/main/Monday.md

Tonight, we will work through creating forms to create the boards that give users the ability to either paste a URL or upload an image using Firebase storage. The code for the upload can be reviewed [here](https://github.com/nss-

[2020-11-16 14:48] drteresavasquez opened #115 "CONVERSATION: E13 CAPSTONES"
# Topic:
- [X] I have checked and this topic does not already exist

## Your Name:
Dr. T

- [Capstone Central](https://github.com/nss-evening-cohort-13/capstone-central)

#### Use this issue ticket for any questions you may have about capstone proposals.
- [Submit your proposal](https://github.com/nss-evening-cohort-13/capstone-central/blob/master/02_initial-proposal.md)
- [Requirements and Deadli

[2020-11-16 16:10] HunterJuneau commented on #115
Why can't we use the Spotify API? Just curious.

[2020-11-16 16:23] drteresavasquez commented on #115
@HunterJuneau I believe there have been issues in the past, so it is on our do not use list for the evening cohorts.

[2020-11-16 22:58] michaelpfohl commented on #115
Does our personal site need to be completed before submitting our project proposal? The form asks for a deployed site link but the assignment on Classtracker for the personal site says 11/28. Currently rebuilding my site using React but wanted to get eyes on my proposal ASAP so I can rework anything that may need to be changed.

[2020-11-16 23:17] drteresavasquez commented on #115
@michaelpfohl just put the current deployed site link. Even though it is not converted to react yet, it should still be deployed for as far as you have it completed.

[2020-11-17 13:52] drteresavasquez commented on #112
@nss-evening-cohort-13/students I figured it out our issue. The board form was being rendered before the props were passed because we are making an api call, so....we could either do a loader to give the API call time to do its thing, or we could check state to make sure that the boards object is not empty like this...this code can replace the BoardForm call in the SingleBoards.js file:
`{ Object.

[2020-11-17 19:19] drteresavasquez commented on #112
For some who are getting 400 errors for your firebase uploads, it is possible that this has happened to you as it happened to me as well. It may be best to only store images. I had gifs in mine, which I think pushed me over the limit:

<img width="1301" alt="Screen Shot 2020-11-17 at 1 18 01 PM" src="https://user-images.githubusercontent.com/29741570/99437022-7b800800-28d7-11eb-8103-a85a60651b9f.p

[2020-11-17 23:51] Jonathon22 opened #116 "Cannot Get pins to render to dom"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Jonathon Joyner
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-11-17 23:55] drteresavasquez commented on #116
@Jonathon22 what did you google? We need the whole issue ticket to be completed please.

[2020-11-18 02:01] brownabs commented on #116
Are you still receiving the same error Jonathon?

[2020-11-18 02:03] Jonathon22 commented on #116
Yes I am.

[2020-11-18 02:26] brownabs commented on #116
looking now

[2020-11-18 02:31] brownabs commented on #116
as we discussed, check firebase rules and make calls in postman, and let me know if that was successful

[2020-11-18 02:40] Jonathon22 commented on #116
I had bad data fixed it by deleting my data and remaking new data in firebase!

[2020-11-18 03:08] kaitvan opened #117 "Cannot read property 'then' of undefined."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment tha

[2020-11-18 03:33] brownabs commented on #116
Let me know if this has been resolved

[2020-11-18 03:47] kaitvan commented on #117
Ok team. The error was in my findMatchingPins function. As it was written, the function is not returning anything because the return statement is wrapped in curly braces. This is why I was getting "undefined" from my function--if a function does not return a value, it returns undefined. The "return Promise.all" line is returning for the getBoardPins function, NOT for the findMatchingPins function.

[2020-11-19 15:10] willkotheimer opened #118 "Deployment failed on Netlify (Cannot find file...)"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you need help

[2020-11-19 15:14] drteresavasquez commented on #118
The error message in Netlify is telling you the problem. It cannot find your Home view.

[2020-11-19 15:37] willkotheimer commented on #118
So it does look like the file is in the views/Home folder where I'm importing from: `import Home from '../views/Home';` and I'm not getting any console errors to that affect. I'm not sure why it wouldn't be seeing the file.

Here's my routes:

[code]
Here's src/views/Home:
[code]

[2020-11-19 16:11] drteresavasquez commented on #118
@willkotheimer in your views directory, you do not have a file titled 'Home.js' it is named LOWER CASED 'home.js'

We are developing in strict mode, and while your local may allow you to compile with lower cased, Netlify will hold you accountable to the files names. So, try to change the name of the file to a capitalized 'Home.js' and see if that works for you.

[2020-11-19 16:15] drteresavasquez commented on #118
Also, thank you soooo much for submitted such a completed ticket! I have access to everything I need here to help you with your issue. Let me know if changing the file name works or not and we can go from there.

[2020-11-19 16:30] willkotheimer commented on #118
Absolutely, I appreciate your help! I’m at a drs appointment currently but will try this when I get back around lunch!

[2020-11-19 18:27] willkotheimer commented on #118
It's not quite fixed, but I'll update when it is.

Somehow my branches got tangles in them. I noticed that my file was called Home.js locally, but on github it was lowercase, so I pushed again and did this:

[code]

I found out that my files in there were still lowercase and it was giving me errors, which I'll need to resolve, but everything is making more sense now that I merged with main.

[2020-11-19 18:36] drteresavasquez commented on #118
Great! Let me know what happens once you get everything in order

[2020-11-20 01:35] willkotheimer commented on #118
How I finally was able to change my filenames to uppercase and deploy:
(If you have a Mac)
git mv --force home.js Home.js   I had to do this in mac command line for all the files that were lowercase originally. If you want to read more about it, Mac preserves filenames by enacting insensitivity features, which netlify deploy is more rigid about : https://stackoverflow.com/questions/6899582/i-chang

[2020-11-20 01:45] drteresavasquez commented on #118
@willkotheimer did the app successfully deploy?

[2020-11-20 01:50] willkotheimer commented on #118
Yes!

[2020-11-20 01:51] drteresavasquez commented on #118
Dope! That site looks a lot like my styling. Make sure you are doing the work yourself. No copy pasta!

[2020-11-21 19:19] kaitvan opened #119 "singleBoard view does not update when adding a pin"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment tha

[2020-11-21 19:32] drteresavasquez commented on #119
@chrislojacono didn't you have this same issue? Did you figure out how to get it working?

[2020-11-21 19:35] drteresavasquez commented on #119
@kaitvan are you getting a response back from your `PinData.updatePin` method?

[2020-11-21 19:37] chrislojacono commented on #119
I did not figure it out for singleBoard but did for the other views

[2020-11-21 19:51] kaitvan commented on #119
I haven't done anything with PinData.updatePin yet. That's only there because eventually I will want to use the same form for both add and update. But right now, I'm just assuming that the user is only adding pins.

[2020-11-21 19:56] Jonathon22 opened #121 "When trying to add new board board does not render."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Jonathon Joyner
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-11-21 20:04] brownabs commented on #121
Your board is being successfully posted and patched in firebase?

[2020-11-21 20:05] Jonathon22 commented on #121
No Its not being added in firebase but the image is adding to the storage in firebase.

[2020-11-21 20:07] brownabs commented on #121
check Postman and let me know if you're successfully making requests there

[2020-11-21 20:16] Jonathon22 commented on #121
Yes I can  successfully make a request on postman

[2020-11-21 20:24] Jonathon22 commented on #121
Stopped and started my server and had a spelling error on my handleSubmit function. 😔

[2020-11-21 20:45] kaitvan commented on #119
My issue was in the handleSubmit function.

I was calling onUpdate before the second promise (addPinToBoard) was completed, so the findMatchingPins function was still only finding the original pins. Fixed it by tacking that .then onto addPinToBoard instead of on the external promise.

[code]

[2020-11-21 20:55] drteresavasquez commented on #119
@chrislojacono this may help you out a bit

[2020-11-22 02:47] michaelpfohl opened #122 "Unable to load local images in scss in React personal bio site"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: @michaelpfohl

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-11-22 02:50] michaelpfohl commented on #122
I tried to add the issue to the Student-Help-Tracking project board but I suspect I may not have access as there is no option for me to do so.

[2020-11-22 03:17] drteresavasquez commented on #122
@michaelpfohl try placing the images in the public directory. Let me know if I need that works.

[2020-11-22 03:22] michaelpfohl commented on #122
@drteresavasquez I actually did that already, my mistake not mentioning that. When doing so I got an error saying that imports from outside of the src directory are not supported.

[2020-11-22 03:24] michaelpfohl commented on #122
Welp, rubber duckying definitely works. In looking at my code I realize that somehow the id of "nav" was no longer on the element it should have been on despite me copying and pasting the entire block. Once I added that it all worked as intended.

[2020-11-22 03:25] drteresavasquez commented on #122
@michaelpfohl ok cool. When you set an image as a background, you have to use the url(‘file’) inline. In that case you actually don’t have to import it. I need to look at your sass files to see if there is something that we can update there as well. I’ll take a look tomorrow morning.

[2020-11-22 03:28] michaelpfohl commented on #122
Sounds good! That's how I have it working currently but I was trying the input method because I thought that the url('file') method was not working when really I was just missing an id.

[2020-11-22 03:38] drteresavasquez commented on #122
@michaelpfohl cool. Through the sass is better than inline in my opinion to keep separate concerns so if you got it working I soooo glad!

[2020-11-22 14:28] drteresavasquez commented on #119
Let's create a new ticket for the modal issue. You can copy and paste this and exclude the stuff about the promise chain. The modal one is going to take a little more clarity.

[2020-11-22 14:30] #96 closed

[2020-11-22 14:30] #97 closed

[2020-11-22 14:30] #98 closed

[2020-11-22 14:30] #99 closed

[2020-11-22 14:30] #100 closed

[2020-11-22 14:30] #101 closed

[2020-11-22 14:30] #102 closed

[2020-11-22 14:30] #103 closed

[2020-11-22 14:30] #104 closed

[2020-11-22 14:30] #105 closed

[2020-11-22 14:30] #107 closed

[2020-11-22 14:30] #108 closed

[2020-11-22 14:30] #109 closed

[2020-11-22 14:30] #110 closed

[2020-11-22 14:30] #111 closed

[2020-11-22 14:30] #112 closed

[2020-11-22 14:30] #114 closed

[2020-11-22 14:30] #115 closed

[2020-11-22 14:30] #116 closed

[2020-11-22 14:30] #117 closed

[2020-11-22 14:30] #118 closed

[2020-11-22 14:30] #119 closed

[2020-11-22 14:30] #121 closed

[2020-11-22 14:30] #71 closed

[2020-11-22 14:30] #72 closed

[2020-11-22 14:30] #73 closed

[2020-11-22 14:30] #74 closed

[2020-11-22 14:30] #75 closed

[2020-11-22 14:30] #76 closed

[2020-11-22 14:30] #77 closed

[2020-11-22 14:30] #78 closed

[2020-11-22 14:30] #79 closed

[2020-11-22 14:30] #80 closed

[2020-11-22 14:30] #81 closed

[2020-11-22 14:30] #82 closed

[2020-11-22 14:30] #83 closed

[2020-11-22 14:30] #84 closed

[2020-11-22 14:30] #85 closed

[2020-11-22 14:30] #86 closed

[2020-11-22 14:30] #87 closed

[2020-11-22 14:30] #88 closed

[2020-11-22 14:30] #89 closed

[2020-11-22 14:30] #90 closed

[2020-11-22 14:30] #91 closed

[2020-11-22 14:30] #92 closed

[2020-11-22 14:30] #93 closed

[2020-11-22 14:30] #94 closed

[2020-11-22 14:30] #95 closed

[2020-11-22 14:30] #45 closed

[2020-11-22 14:30] #46 closed

[2020-11-22 14:30] #47 closed

[2020-11-22 14:30] #48 closed

[2020-11-22 14:30] #49 closed

[2020-11-22 14:30] #50 closed

[2020-11-22 14:30] #51 closed

[2020-11-22 14:30] #52 closed

[2020-11-22 14:30] #53 closed

[2020-11-22 14:30] #54 closed

[2020-11-22 14:30] #55 closed

[2020-11-22 14:30] #56 closed

[2020-11-22 14:30] #57 closed

[2020-11-22 14:30] #58 closed

[2020-11-22 14:30] #59 closed

[2020-11-22 14:30] #60 closed

[2020-11-22 14:30] #61 closed

[2020-11-22 14:30] #62 closed

[2020-11-22 14:30] #63 closed

[2020-11-22 14:30] #64 closed

[2020-11-22 14:30] #65 closed

[2020-11-22 14:30] #66 closed

[2020-11-22 14:30] #67 closed

[2020-11-22 14:30] #68 closed

[2020-11-22 14:30] #69 closed

[2020-11-22 14:30] #27 closed

[2020-11-22 14:30] #28 closed

[2020-11-22 14:30] #29 closed

[2020-11-22 14:30] #30 closed

[2020-11-22 14:30] #31 closed

[2020-11-22 14:30] #32 closed

[2020-11-22 14:30] #33 closed

[2020-11-22 14:30] #34 closed

[2020-11-22 14:30] #35 closed

[2020-11-22 14:30] #36 closed

[2020-11-22 14:30] #37 closed

[2020-11-22 14:30] #38 closed

[2020-11-22 14:30] #39 closed

[2020-11-22 14:30] #40 closed

[2020-11-22 14:30] #41 closed

[2020-11-22 14:30] #42 closed

[2020-11-22 14:30] #43 closed

[2020-11-22 14:30] #44 closed

[2020-11-23 22:59] wppattonjr opened #123 "I am trying to pass a function as a prop to my form and it is showing as undefined."
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Wendell Patton

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-11-23 23:05] drteresavasquez commented on #123
@wppattonjr

1. Is the function you are passing as props named correctly?
2. Is the prop you are passing named `onUpdate`?
3. The code example you sent does not show you passing the prop nor the function that you are passing. Can you update with a link to the file that you pass the prop and the function definition AND the file that is calling the function (prop)?

[2020-11-23 23:09] wppattonjr commented on #123
Yes it is named onUpdate

https://github.com/wppattonjr/react-pinterest/blob/master/src/components/Forms/PinForm.js

[2020-11-23 23:11] drteresavasquez commented on #123
That’s the form. Where is the form component being called and the props passed to it? Can I get a link to that code?

[2020-11-23 23:33] wppattonjr commented on #123
https://github.com/wppattonjr/react-pinterest/blob/master/src/views/Pins.js

[2020-11-23 23:50] drteresavasquez commented on #123
Your function is not returning anything. When a function does not return something, what it the value?

[2020-11-23 23:52] drteresavasquez commented on #123
@wppattonjr when we start class, I will jump in with you to be sure that I am thinking this is what I think it may be. Let's jump in Hack 1 after we break out.

[2020-11-23 23:54] wppattonjr commented on #123
Undefined

[2020-11-24 00:22] michaelpfohl commented on #122
Having a very similar issue now where I am not able to get images to load for my cards which are being created dynamically from the array of projects data I have.

I have tried providing a path to the images locally, with the images both inside and outside of the public folders, as well as uploading the images to imgur and using the link to the hosted image as well.

The only way that I have been

[2020-11-24 00:42] liz-barnes opened #125 "Getting removePin is not a function on button click"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `Student-Help-Tracking` project board

#### Descr

[2020-11-24 01:29] drteresavasquez commented on #123
Lort! @wppattonjr...go on and clear this one out. It was FUN! LOL!

[2020-11-24 02:00] wppattonjr commented on #123
It is now resolved. I have two forms on my pins board. One form is for Create Pins and the other is for Update Pins. The Update Pins form is on the actual pin card. Turns out that I was not passing onUpdate to my Update Pins on my PinsCard so even though the update was patching my firebase the props were returning as undefined. Once I passed props onUpdate to my  PinsCard form the issue was resolv

[2020-11-24 02:07] drteresavasquez commented on #125
@liz-barnes can you tell us what solved your issue?

[2020-11-24 02:08] michaelpfohl commented on #122
@josephtmartin helped me by suggesting I host the images and pull them in that way which is working! WOOT!

[2020-11-24 03:14] liz-barnes commented on #125
Yes! I was passing props in my SingleBoard file, not my Pins file. I was on the Pins browser route and I was receiving the 'not a function' error because I was not passing the function via props under the Pins view.

[2020-11-25 00:35] kaitvan opened #126 "Unable to return data from a promise"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment tha

[2020-11-25 01:30] AutumnFoto commented on #79
this is old but needed this! thank you!

[2020-11-25 14:49] kaitvan commented on #126
I was able to do a workaround by passing the user's boards as props. I called the same function I had in boards view and put the boards in state on the [Home view](https://github.com/kaitvan/react-pinterest/blob/master/src/views/Home.js). Then, I passed the boards as props to the [PinCard](https://github.com/kaitvan/react-pinterest/blob/master/src/components/card/pinsCard.js) component and then I

[2020-11-25 15:12] drteresavasquez commented on #126
@kaitvan you've got some development going on here! 🎉 I think I understand what you’re asking, but I really need to look at the code with you. I think passing the boards as props is fine if it gives you the results you’re looking for. It sounds like it required a bit of prop drilling, but as long as you can follow the prop chain, I think it should be ok. I can hop on today sometime if you’d like t

[2020-11-28 00:06] liz-barnes commented on #113
I'm receiving the error code "Build script returned non-zero exit code: 2" when deploying on Netlify. Found some articles that talk about yarn.lock and package-lock.json file. All of my sites run locally, but not on Netlify. Not sure how to proceed 😅 Should my base directory be set to something?

[2020-11-28 00:58] liz-barnes commented on #113
Solved! Updated Netlify build command to 'CI= npm run build' https://community.netlify.com/t/new-ci-true-build-configuration-treating-warnings-as-errors-because-process-env-ci-true/14434

[2020-11-28 01:24] willkotheimer opened #127 "Unable to get State to refresh after post when using a .then to invoke prop function that resets state"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Will Kotheimer

#### Have you searched the other issue tickets? If not, do that first.
- [X ] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X ] Added label to specific project/assignment th

[2020-11-28 02:27] liz-barnes opened #128 "Get request error (401) Unauthorized"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that you need help with
- [X] Added to `Student-Help-Tracking` project board

#### Descr

[2020-11-28 03:08] brownabs commented on #127
Is your findPinsForBoard working because I do not see anything being done to the response?

[2020-11-28 03:09] brownabs commented on #128
Are your rules set up correctly? read: true

[2020-11-28 03:10] willkotheimer commented on #127
It works. It's what I'm calling initially in ComponentDidMount.

[2020-11-28 03:25] willkotheimer commented on #127
I think I'm making some progress here. I've gotten a different error.

[code]
It's still not updating, but at least it's letting me know something...

[2020-11-28 03:29] brownabs commented on #127
It looks like you haven't properly passed a getPins() function and maybe that why they don't appear after adding pin

[2020-11-28 03:38] brownabs commented on #127
check your response once you fire off FindPinsForBoards again

[2020-11-28 04:31] willkotheimer commented on #127
It looks like everything is working now. I changed after the then to have a arrow function and made it automatically fire, so: `AddPinToBoard(this.state).then(() => this.props.redrawDom());`  I also changed my getPins function to use exactly the same thing already working in ComponentDidMount. After that it was just internet issues, which were making my page updates look flaky.

[2020-11-28 21:46] jacobpaine commented on #128
Anything new on this Liz?

[2020-11-29 16:50] liz-barnes commented on #128
Yes! I updated my rules to true! Not sure how my rules changed, but that did fix my issue.

[2020-11-29 23:59] josephtmartin commented on #128
They will change after 30 days I believe. It's a security thing unless you tell it otherwise

[2020-11-30 03:55] DeannaMix opened #129 "Deploying with Firebase issue"
#### Deanna Mix

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [ It doesn't show any tags in the right column ] Added label to specific project/assignment that you need help with
- [x] Added to `Student-Help-T

[2020-11-30 19:34] brownabs commented on #129
Are you deploying on Firebase or Netlify?

[2020-11-30 19:40] DeannaMix commented on #129
I'm deploying on Netlfiy.

[2020-11-30 22:04] #128 closed, assigned to nobody

[2020-11-30 22:05] #125 closed

[2020-11-30 23:23] drteresavasquez commented on #129
@DeannaMix what is the deploy link you put into Firebase?

[2020-11-30 23:24] drteresavasquez commented on #129
Also, the console error is saying that the API key is wrong, so make sure when you put those in netlify, you named them and copied them over correctly.

[2020-11-30 23:27] drteresavasquez commented on #129
This is an error message:
<img width="470" alt="Screen Shot 2020-11-30 at 5 26 27 PM" src="https://user-images.githubusercontent.com/29741570/100677725-3de89980-3331-11eb-89dd-8cee0e95995b.png">

[2020-12-01 02:10] kaitvan opened #130 "After running npm install, getting error: Cannot read property matches of undefined"
# TOPIC:
If you have node version 7.0.3, you may run into an issue with the ```npm i``` command that gives you an error stating, "Cannot read property 'matches' of undefined."

## Your name:
Kaitlyn VanHook

## Share what you learned with links if possible
There seems to be an issue with node version 7.0. To fix it, run ```npm install -g npm@latest```.

You will notice that it will bump you back t

[2020-12-01 04:02] danapham opened #131 "Button does not display form on click"
#### Your Name: Dana

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that you need help with
- [x] Added to `Student-Help-Tracking` proje

[2020-12-01 05:27] drteresavasquez commented on #131
You don’t have the create form showing on the DOM. The best thing to do is put it on the DOM and allow state to dictate when it shows on the button click like how you have the other views showing.

[2020-12-01 05:28] drteresavasquez commented on #131
Also, what did you google? The ticket is not completed.

[2020-12-02 02:30] danapham commented on #131
I was told to create a ticket since we were working on it in class. I did google it and saw that I should set a state for the form to show so that's what I would do going forward to fix this type of error.

[2020-12-02 02:35] drteresavasquez commented on #131
So, were you able to get it fixed? I was asking what you googled because it would help me understand if you were searching for the right things. It is not an indictment on whether or not you did it. Hopefully you got it working, but if not, let me know so that I can help you figure it out.

[2020-12-02 03:35] danapham commented on #131
yes, I believe this solution will work!

[2020-12-02 03:35] #131 closed, assigned to nobody

[2020-12-03 02:57] HunterJuneau opened #132 "Can't Map an Array"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Hunter Juneau
#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that y

[2020-12-03 03:21] drteresavasquez commented on #132
You’re calling publicPins from state but you don’t have a state item called publicPins. It’s named pins. Do you see?

[2020-12-03 03:22] drteresavasquez commented on #132
https://github.com/HunterJuneau/react-pinterest-1/blob/708f8a910d4ed7a3205ea3ddf2dea210ddac479b/src/components/PublicPins/index.js#L19

[2020-12-03 03:26] HunterJuneau commented on #132
Oh wow, that was it. That's so strange though because when I console.warn-ed PublicPins it showed the array.

[2020-12-03 03:30] HunterJuneau commented on #132
Welp nevermind, I was seeing a different console.warn from when I was checking my response.

[2020-12-03 03:37] drteresavasquez commented on #132
Sometimes fresh eyes is all it takes.

[2020-12-03 13:09] #132 closed, assigned to nobody

[2020-12-03 13:26] HunterJuneau opened #133 "Getting A Bad Request Code 400 From Firebase"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Hunter Juneau
#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [X] Added label to specific project/assignment that y

[2020-12-03 13:54] drteresavasquez commented on #133
Please search the tickets. This issue has been resolved before.

[2020-12-03 19:18] HunterJuneau commented on #133
I'm not seeing one. Could you possibly link it?

[2020-12-03 19:23] drteresavasquez commented on #133
Check your FB rules. Have you looked at those?

[2020-12-03 19:23] drteresavasquez commented on #133
Paste them here so we can see them. Also, have you made the call in postman?

[2020-12-03 20:00] HunterJuneau commented on #133
It was a mistake in my FB rules. All working now.

[2020-12-03 20:00] #133 closed, assigned to nobody

[2020-12-03 20:03] drteresavasquez commented on #133
@HunterJuneau Thought so. This is the ticket I was referencing. I was not at my computer to be able to find it ( I think there are a few more) https://github.com/nss-evening-cohort-13/student-help/issues/128. When you have FB issues, filter on the label and you should be able to find some similar issues. If not, then you can create a ticket.

[2020-12-05 16:17] Jonathon22 opened #134 "Attempting to install node sass will not allow me and gives error about node"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Jonathon Joyner
#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
These can be added in the column on the right
- [x] Added label to specific project/assignment that

[2020-12-05 16:30] BaileyEDennis commented on #134
Try the following:
`npm uninstall node-sass`

Then
`npm install node-sass@4.14.1 --save-dev`

I ran into similar issues and Sass 5 is not working nicely with other webpack utilities.

[2020-12-05 16:34] Jonathon22 commented on #134
Its still giving me the same error I was having a similar issue before I got to downloading sass. it was fixed by running sudo but it is not working for this.

[2020-12-05 16:41] BaileyEDennis opened #135 "Capstone: api keys throwing odd console errors"
#### Your Name: Bailey Dennis

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
- [x] INSTRUCTORS: Add to `Capstone Student Help` project board

#### Describe your issue:

#### List any error messages that appear:
[code]
or
[code]

##

[2020-12-05 16:42] drteresavasquez commented on #135
When you create your .env file make sure to stop and start your server. Have you done that already?

[2020-12-05 16:42] josephtmartin commented on #135
I needed to stop and restart my server

[2020-12-05 16:44] BaileyEDennis commented on #135
Will try that *right now*

[2020-12-05 16:45] BaileyEDennis commented on #135
Same result. ```"Your API key is invalid, please check you have copied it correctly."```

[2020-12-05 16:48] drteresavasquez commented on #135
Ok. Make sure your env file has the proper naming at its set like shown in this ticket. https://github.com/nss-evening-cohort-13/student-help/issues/113

If it’s set up right using = and not : the. I can jump in a room with you in a sec.

[2020-12-05 17:03] BaileyEDennis commented on #135
SOLVED: I had the .env file at the wrong level. I had it stashed under my src/ instead of at the root level.

[2020-12-05 17:24] brownabs commented on #134
I don't see a package.json in your root directory

[2020-12-05 17:26] #130 closed, assigned to nobody

[2020-12-05 17:27] drteresavasquez commented on #129
@DeannaMix did you get this resolved?

[2020-12-05 17:27] brownabs commented on #134
Make sure to look at your errors
npm WARN enoent ENOENT: no such file or directory, open '/Users/jonathonjoyner/workspace/capstone/no-stylist/package.json'

[2020-12-05 17:28] #122 closed

[2020-12-05 17:28] #123 closed

[2020-12-05 17:28] #126 closed, assigned to nobody

[2020-12-05 17:28] #127 closed, assigned to nobody

[2020-12-05 17:47] brownabs commented on #134
Did this solve the issue?

[2020-12-05 17:55] Jonathon22 commented on #134
no I have a write problem that wont allow me to create edit or write new files because of my permissions. it says EACCES permission denied.

[2020-12-05 18:13] brownabs commented on #134
So it is showing a new error, because that one said you didn't have your package.json in the correct place

[2020-12-05 18:27] Jonathon22 commented on #134
yes now it is showing this
[code]

[2020-12-05 19:08] brownabs commented on #134
OK, have you tried this again:
npm uninstall node-sass
npm install node-sass@4.14.1 --save-dev

[2020-12-05 19:20] liz-barnes opened #136 "Capstone: Struggling with passing my search input state from child to parent (I know this isn't possible but that's where I'm at)"
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
- [x] INSTRUCTORS: Add to `Capstone Student Help` project board

#### Describe your issue:

I have a child component that is holding the search input state and functions. I need to pa

[2020-12-05 19:22] brownabs commented on #136
where is the link to your code?

[2020-12-05 19:24] willkotheimer opened #137 "Thinking through how to get one user connected to another"
##### _Incomplete tickets will not be evaluated._

---

#### Your Name: Will Kotheimer

#### What are you trying to do?

I am trying to connect one user to another via the app.

[Edit: I've decided to include a link on my app with a form that would allow you to connect with another user if they are in the app]

#### What is preventing you from doing it?

The user that will be connected may not exi

[2020-12-05 19:29] brownabs commented on #137
This ticket is too vague. We need more information on what the user may want to communicate to the other user and why they wouldn't already be on the app.
Also how much thought have you put into this problem? I do not see any google links.

[2020-12-05 19:31] brownabs commented on #137
also please provide the appropriate labels on your tickets

[2020-12-05 19:43] Jonathon22 commented on #134
yes i tried that and it did not work

[2020-12-05 19:52] willkotheimer commented on #137
OK, I have given it some thought. . . notes added above

[2020-12-05 20:13] willkotheimer commented on #137
Got a good direction on this, going with the user auth save to database and then having a form they can fill out to enter another user email and get connected to the user if they exist.

[2020-12-05 20:22] #136 closed, assigned to jacobpaine

[2020-12-05 20:23] #135 closed, assigned to nobody

[2020-12-05 20:24] #137 closed, assigned to jacobpaine

[2020-12-05 20:25] #129 closed, assigned to nobody

[2020-12-05 20:32] liz-barnes opened #138 "Capstone: Reuse an array that is scoped within a function"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name:
Liz Barnes

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
- [x] INSTRUCTORS: Add to `Capstone Student Help` project board

#### Describe your issue:

In the return of the component, I am

[2020-12-05 20:38] danapham opened #139 "Capstone: maximum update depth exceeded"
#### Your Name: Dana Pham

#### Have you searched the other issue tickets? If not, do that first.
- [X] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
- [ ] INSTRUCTORS: Add to `Capstone Student Help` project board

#### Describe your issue:
I am getting this error message when trying to load my app:
![Scree

[2020-12-06 17:10] danapham commented on #139
I was rerouting my home `path='/'` back to my home `path='/'` which was probably creating an infinite loop. I fixed the issue by rerouting to my sign in page instead `path='/sign-in-page'`

[2020-12-06 17:10] #139 closed, assigned to nobody

[2020-12-06 22:31] brownabs commented on #134
Hey Jonathon, was this issue resolved?

[2020-12-06 22:31] kaitvan opened #140 "Capstone: Close Modal functional, hooks based component with props.children after form submit"
##### _Incomplete tickets will not be evaluated._
---
#### Your Name: Kaitlyn VanHook

#### Have you searched the other issue tickets? If not, do that first.
- [x] Yes
- If No, stop and search.

#### Add Tags to Issue Ticket and Assign to Project Board (Check these prior to creating the issue ticket)
- [x] INSTRUCTORS: Add to `Capstone Student Help` project board

#### Describe your issue:
I creat